<% if policy(ad).update? || policy(ad).bump? %>
  <ul class="ad_actions">
    <% if policy(ad).update? %>
      <li>
        <%= link_to ads_edit_path(ad) do %>
          <%= image_tag "edit_ad.png", alt: t('nlt.edit_this_ad') %>
          &nbsp; <%= t('nlt.edit') %>
        <% end %>
      </li>
    <% end %>

    <% if policy(ad).bump? %>
      <li>
        <%= link_to ads_bump_path(ad), method: :post do %>
          <%= image_tag "bump_ad.png", alt: t('nlt.bump_this_ad') %>
          &nbsp; <%= t('nlt.bump') %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
