<% if can?(:update, ad) || can?(:bump, ad) %>
  <ul class="ad_actions">
    <% if can?(:update, ad) %>
      <li>
        <%= link_to ads_edit_path(ad.id) do %>
          <%= image_tag "edit_ad.png", :alt => t('nlt.edit_this_ad') %>
          &nbsp; <%= t('nlt.edit_this_ad') %>
        <% end %>
      </li>
    <% end %>

    <% if can?(:bump, ad) %>
      <li>
        <%= link_to ads_bump_path(ad.id), method: :post do %>
          <%= image_tag "bump_ad.png", :alt => t('nlt.bump_this_ad') %>
          &nbsp; <%= t('nlt.bump_this_ad') %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
