<% if policy(ad).update? || policy(ad).bump? %>
  <ul class="ad_actions">
    <% if policy(ad).update? %>
      <li>
        <% full_title = t('nlt.edit_this_ad') %>

        <%= link_to ads_edit_path(ad), title: full_title do %>
          <%= image_tag "edit_ad.png", alt: full_title %>
          <%= t('nlt.edit') %>
        <% end %>
      </li>
    <% end %>

    <% if policy(ad).bump? %>
      <li>
        <% full_title = t('nlt.bump_this_ad') %>

        <%= link_to ads_bump_path(ad), method: :post, title: full_title do %>
          <%= image_tag "bump_ad.png", alt: full_title %>
          <%= t('nlt.bump') %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
