<%= link_to adslug_path(ad, ad.slug), class: 'aod_content' do %>
  <% if ad.image.exists? %>
    <div class="ad_list_image">
      <%= image_tag ad.image.url(:thumb), title: ad.filtered_title,
                                          alt: ad.filtered_title %>
    </div>
  <% end %>

  <h4>
    <%= ad.filtered_title %>
  </h4>

  <div class="ad_excerpt_woeid">
    <%= ad.woeid_name %> &gt;
    <%= ad.type_string %>
  </div>

  <% if ad.give? %>
    <span class="ad_status <%= ad.status %>"><%= ad.status_string %></span>
  <% end %>

  <%= published_ago_by(ad.published_at, ad.user) %>

  <div class="body-wrapper">
    <p><%= truncate ad.filtered_body, length: 200, separator: ' ' %></p>
  </div>

  <%= render "ads/stats", comments_count: comment_counts[ad.id] || 0,
                          readed_count: ad.readed_count %>
<% end %>
