<% if ad.user %>
  <div class="ad_excerpt_home">
    <%= render "ads/actions", ad: ad %>

    <% if ad.image.exists? %>
      <div class="ad_list_image">
        <%= link_to adslug_path(ad,ad.slug) do %>
          <%= image_tag ad.image.url(:thumb), title: ad.title, alt: ad.title %>
        <% end %>
      </div>
    <% end %>

    <h4>
      <%= link_to adslug_path(ad,ad.slug) do %>
        <%= ad.title %>
      <% end %>
    </h4>
    <div class="ad_excerpt_woeid">
      <%= link_to ads_woeid_path(id: ad.woeid_code, type: ad.type_class) do %>
        <%= ad.woeid_name %> &gt;
        <%= ad.type_string %>
      <% end %>
    </div>
    <% if ad.is_give? %>
      <span class="ad_status <%= ad.status_class %>">
        <%= ad.status_string %>
      </span>
    <% end %>
    <span class="ad_date">
      <%= t('nlt.published_on_html', date: ad.published_at) %>
      <%= t('nlt.by_user') %>
      <%= link_to ad.user.username, listads_user_path(ad.user) %>
    </span>
    <div><p><%= truncate ad.body, length: 200, separator: ' ' %></p></div>
    <div class="ad_meta_info">
      <b><%= link_to t('nlt.send_a_message'), message_new_with_subject_path(user_id: ad.user.id, subject: ad.slug) %></b>
      <span class="right small">
        &nbsp;&nbsp; <%= t('nlt.readed_count', count: ad.readed_counter) %><%= t('nlt.comments_count', count: ad.comments_count) %>
      </span>
    </div>
  </div>
<% end %>

<% if defined? i %>
  <% if [ 5, 10, 15 ].include? i and ( defined? show_ads and show_ads ) %>
    <hr>
    <%= render partial: "partials/google_adsense", locals: { class_name: "desktop google_adsense_336_280", ad_slot: "7225596067"}  %>
    <%= render partial: "partials/google_adsense", locals: { class_name: "mobile google_adsense_320_100", ad_slot: "1977811266"}  %>
    <hr>
  <% end %>
<% end %>
