<div class="ad_excerpt">
  <div class="ad_list_image">
    <%= link_to ad do %>
      <%= image_tag ad.image.url(:thumb) %>
    <% end %>
  </div>
  <h4>
    <%= link_to ad do %>
      <%= ad.title %>
    <% end %>
  </h4>
  <div class="ad_excerpt_woeid">
    <a href="/es/woeid/<%= ad.woeid_code %>/give">
      <%= WoeidHelper.convert_woeid_name ad.woeid_code %> &gt; 
      <%= ad.type_string %>
    </a>
  </div>

  <span class="ad_status <%= ad.status %>">
    <%= ad.status_string %>
  </span>
  <span class="ad_date">
    Publicado hace <%= distance_of_time_in_words_to_now(ad.date_created) %>
    por el usuario
    <a href="/es/ad/listuser/id/<%= ad.user.id %>"><%= ad.user.username %></a>
  </span>

  <div><p><%= ad.body %></p></div>

  <div class="ad_meta_info">
    <b><a rel="nofollow" href="/es/message/create/id_user_to/42397/subject/fulares-para-cuello">+ Envía un mensaje al anunciante</a></b>
    &nbsp;&nbsp;&nbsp;<b><a href="/es/ad/153384/fulares-para-cuello">+ Escribe un nuevo comentario</a></b>

    &nbsp;&nbsp;
    13&nbsp;&nbsp;lecturas          
  </div>

</div>
