<div class="ad_excerpt">
  <div class="ad_list_image">
    <%= link_to ad do %>
      <%= image_tag ad.image.url(:thumb) %>
    <% end %>
  </div>
  <h4>
    <%= link_to ad do %>
      <%= ad.title %>
    <% end %>
  </h4>
  <div class="ad_excerpt_woeid">
    <a href="/es/woeid/<%= ad.woeid_code %>/give"><%= WoeidHelper.convert_woeid_name ad.woeid_code %> &gt; regalo</a>
  </div>

  <span class="ad_status available">
    disponible
  </span>
  <span class="ad_date">
    Publicado el Hoy, 11:29 por el usuario
    <a href="/es/ad/listuser/id/42397">sorayam</a>
  </span>

  <div><p><%= ad.body %></p></div>

  <div class="ad_meta_info">
    <b><a rel="nofollow" href="/es/message/create/id_user_to/42397/subject/fulares-para-cuello">+ Envía un mensaje al anunciante</a></b>
    &nbsp;&nbsp;&nbsp;<b><a href="/es/ad/153384/fulares-para-cuello">+ Escribe un nuevo comentario</a></b>

    &nbsp;&nbsp;
    13&nbsp;&nbsp;lecturas          
  </div>

</div>
