<%= link_to adslug_path(ad, ad.slug), class: 'aod_content' do %>
  <% if ad.image.exists? %>
    <div class="ad_list_image">
      <%= image_tag ad.image.url(:thumb), title: ad.filtered_title,
                                          alt: ad.filtered_title %>
    </div>
  <% end %>

  <h4>
    <%= ad.filtered_title %>
  </h4>

  <% unless current_woeid && @type %>
    <div class="ad_excerpt_woeid">
      <%= safe_join([current_woeid ? nil : ad.woeid_name,
                     @type ? nil : ad.type_string].compact, raw(' &gt; ')) %>
    </div>
  <% end %>

  <div class="ad_status_line">
    <% if ad.give? %>
      <span class="ad_status <%= ad.current_status %>"><%= ad.status_string %></span>
    <% end %>

    <%= published_ago_by(ad.published_at, ad.user.username) %>
  </div>

  <div class="body-wrapper">
    <p><%= truncate ad.filtered_body, length: 200, separator: ' ' %></p>
  </div>

  <div class="ad_meta_info">
    <%= render "ads/stats", comments_count: comment_counts[ad.id] || 0,
                            readed_count: ad.readed_count %>
  </div>
<% end %>
