<%= link_to adslug_path(ad, ad.slug), class: 'aod_content' do %>
  <div class="row">
    <div class="col_ad_image">
      <div class="ad_list_image <%= ad.current_status %>">
        <%= image_tag ad.image.url(:thumb), title: ad.filtered_title,
                                            alt: ad.filtered_title %>

        <% if ad.give? %>
          <div class="ad_status_ribbon <%= ad.current_status %>">
            <%= ad.status_string %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col_ad_body">
      <h4>
        <%= ad.filtered_title %>
      </h4>

      <div class="body-wrapper">
        <p><%= truncate ad.filtered_body, length: 200, separator: ' ' %></p>
      </div>
    </div>

    <div class="col_ad_extra">
      <div class="ad_info_line">
        <span class="ad_author">
          <%= ad.user.username %>
        </span>
      </div>

      <% unless current_woeid && @type %>
        <div class="ad_info_line">
          <span class="ad_excerpt_woeid">
            <%= safe_join([current_woeid ? nil : ad.woeid_name,
                           @type ? nil : ad.type_string].compact, raw(' &gt; ')) %>
          </span>
        </div>
      <% end %>

      <div class="ad_info_line">
        <span class="ad_date">
          <%= time_ago_in_words(ad.published_at) %>
        </span>
      </div>

      <%= render "ads/stats", comments_count: comment_counts[ad.id] || 0,
                              readed_count: ad.readed_count %>
    </div>
  </div>
<% end %>
