<div id="main">
  <div class="span-16">
    <fieldset>
      <legend>
        <%= t 'nlt.es.ads.form.to_publish' %>
      </legend>
      <%= form_for(@ad, :html => {:multipart => true}) do |f| %>
        <% if @ad.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@ad.errors.count, "error") %> <%= t 'nlt.es.ads.form.prohibited' %>:</h2>
        <ul>
          <% @ad.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <dl class="zend_form">
        <dt id="photo-label">
        <%= f.label :image,  t('nlt.ads.form.select_an_image'), :class => "optional" %> 
        </dt>
        <dd>
        <%= f.file_field :image %>
        <p class="description">
        <%= t 'nlt.es.ads.form.image_permited_formats' %>
        </p></dd>
        <dt id="type-label">
        <%= f.label :type,  t('nlt.ads.form.type_ad'), :class => "required" %> 
        </dt>
        <dd id="type-element">
        <%= f.select(:type, options_for_select([['regalo...', 1], ['busco...', 2]]))  %>
        </dd>
        <dt id="title-label">
        <%= f.label :title,  t('nlt.ads.form.title'), :class => "required" %> 
        </dt>
        <dd id="title-element">
        <%= f.text_field :title, required: true %>
        </dd>
        <dt id="body-label">
        <%= f.label :body,  t('nlt.ads.form.body'), :class => "required" %> 
        </dt>
        <dd id="body-element">
        <%= f.text_area :body, :rows => 24, :cols => 80, required: true %>
        </dd>
        <!-- TODO comments_enabled -->
        <dt id="comments_enabled-label">
        <%= f.label :comments_enabled,  t('nlt.ads.form.comments_enabled'), :class => "required" %> 
        </dt>
        <span class="element">
          <%= f.check_box :comments_enabled %>
        </span>
        <dt id="captcha-input-label">
        <label for="captcha-input" class="required">
          <%= t('nlt.please_introduce') %>
        </label>
        </dt>
        <dd id="captcha-element">
          <%= recaptcha_tags(:display => { :theme => "white" }, ajax: true)%>
        </dd>
        <%= f.hidden_field :woeid_code, value: current_user.woeid %>
        <%= f.submit t 'nlt.send' %>
        </dd>
      </dl>
    <% end %>
    </fieldset>
  </div>
</div>
