<%= form_for(ad, html: {multipart: true}) do |f| %>
  <fieldset>
    <%= errors_for(ad) %>

    <dl>

      <% if ad.image.exists? %>
        <div class="ad_list_image">
          <%= link_to image_tag(ad.image.url(:thumb), alt: ad.title), ad.image.url, rel: 'superbox[image]', alt: t('nlt.click_to_large') %>
        </div>
      <% end %>

      <dt>
        <%= f.label :image, t('nlt.ads.form.select_an_image'), class: "optional" %>
      </dt>
      <dd>
        <%= f.file_field :image %>
        <p class="description">
          <%= t 'nlt.ads.form.image_permitted_formats' %>
        </p>
      </dd>

      <% if ad.id %>
        <dt>
          <%= f.label :status, t('nlt.ads.form.status'), class: "required" %>
        </dt>
        <dd>
          <%= f.select(:status, options_for_select([[t('nlt.available'), 1], [t('nlt.booked'), 2], [t('nlt.delivered'), 3]], selected: ad.status))  %>
        </dd>
      <% end %>

      <dt>
        <%= f.label :type, t('nlt.ads.form.type_ad'), class: "required" %>
      </dt>
      <dd>
        <%= f.select(:type, options_for_select([["#{t('nlt.give')}...", 1], ["#{t('nlt.want')}...", 2]], selected: ad.type ? ad.type : params[:type]))  %>
      </dd>

      <dt>
        <%= f.label :title, t('nlt.ads.form.title'), class: "required" %>
      </dt>
      <dd>
        <%= f.text_field :title, required: true, maxlength: 100, size: 45 %>
        <p class="description">
          <%= t 'nlt.ads.form.title_max' %>
        </p>
      </dd>

      <dt>
        <%= f.label :body, t('nlt.ads.form.body'), class: "required", id: "adbo", for: "adbo" %>
      </dt>
      <dd>
        <%= f.text_area :body, rows: 24, cols: 80, required: true, maxlength: 500, id: "adbo" %>
        <p class="description">
          <%= t 'nlt.ads.form.body_max' %>
        </p>
      </dd>

      <dt>
        <%= f.label :comments_enabled, t('nlt.ads.form.comments_enabled'), class: "required" %>
      </dt>
      <span class="element">
        <%= f.check_box :comments_enabled %>
      </span>

      <% unless params[:action] == "edit" %>
        <dt>
          <label for="captcha-input" class="required">
            <%= t('nlt.please_introduce') %>
          </label>
        </dt>
        <dd>
          <%= recaptcha_tags(display: { theme: "white" }, ajax: true)%>
        </dd>
      <% end %>

      <dd>
        <%= f.submit t 'nlt.send' %>
      </dd>
    </dl>
  </fieldset>
<% end %>
