
<div class="no_results">
  <h2><%= t('nlt.no_results.title') %></h2>
  <h3><%= t('nlt.no_results.subtitle') %></h3>
  <%= t('nlt.no_results.explain_html',
    publish: link_to(t('nlt.no_results.publish_ad'), new_ad_path),
    change_location: link_to(location_suggest, location_change_path)
  )%>
  <br>

  <% unless woeid.nil? %>
    <%= t('nlt.no_results.try') %><br>
    <ul>
    <% get_location_options(@woeid).each do |l| %>
      <li>
        <%= link_to l[0], location_change_path(location: l[0]) %>
      </li>
    <% end %>
    </ul>
  <% end %>

  <h5>
    <i><%= t('nlt.no_results.phrase') %></i>
  </h5>

</div>
