<div class="no_results">
  <h2><%= t('nlt.no_results.title') %></h2>
  <h3><%= t('nlt.no_results.subtitle') %></h3>

  <p>
    <%= t('nlt.no_results.first_to_publish_html',
          publish: link_to(t('nlt.no_results.publish_ad'), new_ad_path)) %>
  </p>

  <p>
    <%= t('nlt.no_results.switch_to_bigger_city') %>
  </p>

  <% if location_suggest %>
    <p>

      <%= t('nlt.no_results.switch_to_guessed_city_html',
            change_location: link_to_change_location(location_suggest)) %>
    </p>
  <% end %>

  <% if location_options.present? %>
    <%= t('nlt.no_results.try') %><br>
    <ul>
      <% location_options.each do |l| %>
        <li>
          <%= link_to_change_location l[0] %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <h5>
    <i><%= t('nlt.no_results.phrase') %></i>
  </h5>

</div>
