<%= content_for(:meta_title, t('nlt.edit_this_ad')) %>

<div id="default_header_section">
  <h1><%= t('nlt.edit_this_ad') %></h1>
  <br><br>
  <%= link_to ad_path(@ad), method: :delete, data: { confirm: t('nlt.delete_sure') } do %>
    <%= image_tag "delete_ad.png" %>
    <%= t('nlt.delete_ad') %>
  <% end %>
</div>

<div id="main">
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
</div>
