<%= content_for(:meta_title, t('nlt.edit_this_ad')) %>

<section id="default_header_section">
  <h1><%= t('nlt.edit_this_ad') %></h1>
</section>

<div class="col-md-8 col-sm-8 offset-md-4 offset-sm-4">
  <div class="row">
    <%= render 'form', ad: @ad %>
  </div>
</div>

<section id="default_header_section">
  <h1><%= t('nlt.delete_ad') %></h1>
</section>

<div class="col-md-8 col-sm-8">
  <div class="row">
    <%= render 'destroy_form', ad: @ad %>
  </div>
</div>
