<% content_for(:meta_title, t('nlt.home_title')) %>

<% content_for :action do %>
  <div>
    <div class="ad_change_location_home">
      <%= link_to t('nlt.change_city'), location_ask_path %>
    </div>
    <div class="ad_create_tab">
      <% if location_suggest %>
        <%= link_to t('nlt.view_ads_on', location: location_suggest), location_change_path(location: location_suggest) %>
      <% else %>
        <%= link_to t('nlt.view_ads_on_your_city'), location_ask_path %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="section_ads">
  <h2><%= t('nlt.last_published_gifts') %></h2>
  <%= render partial: 'ads/list_with_adsense', locals: { ads: @ads } %>
  <br>
  <br>
  <b> <%= link_to t('nlt.view_more_ads'), ads_listall_path(type: :give, page: 2) %> </b>
</div>

<% cache("ads/#{I18n.locale}/location-ranks-#{Ad.cache_digest}") do %>
  <%= render :partial => "partials/section_locations" %>
<% end %>

<% cache("ads/#{I18n.locale}/user-ranks-#{Ad.cache_digest}") do %>
  <%= render :partial => "partials/section_users" %>
<% end %>
