<% content_for(:meta_title, t('nlt.home_title')) %>

<div id="main">
  <div class="section_ads">
    <h2><%= t('nlt.last_published_gifts') %></h2>
    <% cache cache_key_for('ads_list_' + @ads.pluck(:id).to_s, current_user) do %>
      <% @ads.each_with_index do |ad,i| %>
        <%= render :partial => "ad", :locals => { :ad => ad, :i => i } %>
      <% end %>
    <% end %>
    <%= will_paginate @ads, :page_links => false %>
  </div>
</div>

<% cache('section_locations') do %>
  <%= render :partial => "partials/section_locations" %>
<% end %>

<% cache('section_users') do %>
  <%= render :partial => "partials/section_users" %>
<% end %>

<% content_for :action do %>
  <div class="home_location_change">
    <div class="ad_create_tab ad_create_tab_home">
      <% if @location_suggest.nil? %>
        <%= link_to t('nlt.view_ads_on_your_city'), location_ask_path %>
      <% else %>
        <%= link_to t('nlt.view_ads_on', location_suggest: @location_suggest), location_change_path(location: @location_suggest) %>
        <%= link_to location_change_path(location: location_suggest) do %>
          <%= t('nlt.view_ads_on', location_suggest: @location_suggest) %></a>
        <% end %>
      <% end %>
    </div>
    <p class="ad_change_location_home">
      <%= link_to t('nlt.change_city'), location_ask_path %>
    </p>
  </div>
<% end %>
