<% content_for(:meta_title, t('nlt.home_title')) %>

<div id="main">
  <div class="section_ads">
    <h2><%= t('nlt.last_published_gifts') %></h2>
    <% cache ['ads-list', *@ads] do %>
      <% @ads.each_with_index do |ad,i| %>
        <%= render :partial => "ad", :locals => { :ad => ad, :i => i } %>
      <% end %>
    <% end %>
    <%= will_paginate @ads, :page_links => false %>
  </div>
</div>

<% cache('section_locations') do %>
  <%= render :partial => "partials/section_locations" %>
<% end %>

<% cache('section_users') do %>
  <%= render :partial => "partials/section_users" %>
<% end %>

<% content_for :action do %>
  <div class="home_location_change">
    <div class="ad_create_tab ad_create_tab_home">
      <a href="/es/location/change2/?location=<%= @location_suggest %>"> Ver anuncios en <%= @location_suggest %></a>
    </div>
    <p class="ad_change_location_home">
    <a href="/es/location/change">cambiar ciudad</a>
    </p>
  </div>
<% end %>
