<% content_for(:meta_title, t('nlt.home_title')) %>

<% content_for :action do %>
  <div class="ad_change_location_home">
    <% if location_suggest %>
      <%= link_to t('nlt.change_city'), location_ask_path %>
    <% end %>
  </div>

  <div class="ad_create_tab">
    <% if location_suggest %>
      <% title = t('nlt.view_ads_on', location: location_suggest.city) %>
      <%= link_to_change_location location_suggest.fullname, title %>
    <% else %>
      <%= link_to t('nlt.view_ads_on_your_city'), location_ask_path %>
    <% end %>
  </div>
<% end %>

<div class="section_ads">
  <h2><%= t('nlt.last_published_gifts') %></h2>
  <%= render 'ads/list_with_adsense', ads: @ads %>
  <br>
  <br>
  <b> <%= link_to t('nlt.view_more_ads'), ads_listall_path(type: :give, page: 2) %> </b>
</div>

<% cache("ads/#{I18n.locale}/location-ranks-#{Ad.cache_digest}") do %>
  <%= render "partials/section_locations" %>
<% end %>

<% cache("ads/#{I18n.locale}/user-last-week-ranks-#{Ad.cache_digest}") do %>
  <%= render "partials/section_last_week_users" %>
<% end %>

<% cache("ads/#{I18n.locale}/user-overall-ranks-#{Ad.cache_digest}") do %>
  <%= render "partials/section_overall_users" %>
<% end %>
