<div id="main">

  <div class="home_location_change">
    <div class="ad_create_tab ad_create_tab_home">
      <a href="/es/location/change2/?location=<%= @location_suggest %>"> Ver anuncios en <%= @location_suggest %></a>
    </div>
    <p class="ad_change_location_home">
    <a href="/es/location/change">cambiar ciudad</a>
    </p>
  </div>

  <div class="section_ads">
    <h2>últimos regalos publicados</h2>

    <% @ads.each do |ad| %>
      <%= render :partial => "ad", :locals => { :ad => ad } %>
    <% end %>

    <%= will_paginate @ads %>
  </div>
</div>

<%= render :partial => "partials/section_locations" %>

<%= render :partial => "partials/section_users", :locals => {:section_users => @section_users} %>

<%= link_to 'New Ad', new_ad_path %>
