<% user_with_town = User.includes(:town).find(current_user.id) %>
<% title = "#{t('nlt.publish_ad')} - #{user_with_town.town.fullname}" %>
<%= content_for :title, title %>

<div class="main-row">
  <div class="col-md-8 col-sm-8">
    <div class="default_header_section">
      <h1><%= content_for :title %></h1>
      <br>
      <%= link_to location_ask_path do %>
        <i class="glyphicon glyphicon-map-marker"></i>
        <%= t 'nlt.change_city' %>
      <% end %>
    </div>

    <div class="default_content_section">
      <%= render 'form', ad: @ad, button_label: t('nlt.publish_ad') %>
    </div>
  </div>
</div>
