
<div id="default_header_section">
  <h1><%= t 'nlt.es.create_new_ad' %> - Madrid, Madrid, España</h1>
  <br>
  <%= link_to location_ask_path, :class => "world_link" do %>
    <%= image_tag "change_location.png", :alt => "change location" %> 
    <%= t 'nlt.es.change_city' %>
  <% end %>
</div>

<%= render 'form' %>
