<div id="default_header_section">
  <h2>
    <a href="/es/woeid/766273/give">Madrid, Madrid, España &gt; regalo</a>
  </h2>
  <h1><%= @ad.title %></h1>
</div>
<div id="main">

  <div class="span-15">



        <div class="ad_excerpt_show">

           <div class="ad_list_image">
                      <a title="Click para agrandar foto" href="/images/uploads/ads/original/21d14aaef4dea38ce64f9811b55a318d.jpg" rel="superbox[image]">
                      <img alt="top-talla-s-getafe" src="/images/uploads/ads/100/21d14aaef4dea38ce64f9811b55a318d.jpg"></a></div>
                      <span class="ad_status available">disponible</span>
           
           <span class="ad_date">Publicado el 2013-11-07 11:05:07            por el usuario             <a href="/es/ad/listuser/id/40780">cineneo</a>
            </span>

           <br>
           <p><%= @ad.body %>
</p>


           <div class="ad_meta_info">
               33 lecturas
                           </div>


                ¿Te interesa?&nbsp;
<a href="/es/message/create/id_user_to/40780/subject/top-talla-s-getafe" rel="nofollow">Envía un mensaje privado al anunciante <img src="/images/email_send.png" alt="send a message"></a>
           

<br><br>

<div class="sharelinks">

    <p style="text-align:left;margin-bottom:5px;">Comparte este anuncio:</p>


    <div id="google-button">
        <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px;"><iframe title="+1" data-gapiattached="true" src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;bsv=o&amp;size=medium&amp;hl=es&amp;origin=http%3A%2F%2Fnolotiro.org&amp;url=http%3A%2F%2Fnolotiro.org%2Fes%2Fad%2F153380%2Ftop-talla-s-getafe&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.ORnOFvvdM_I.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTNO7cebcMT3Ua3DTr5qULAXLSRwzg#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1383819865132&amp;parent=http%3A%2F%2Fnolotiro.org&amp;pfname=&amp;rpctoken=32646507" name="I0_1383819865132" id="I0_1383819865132" vspace="0" tabindex="0" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" marginwidth="0" marginheight="0" hspace="0" scrolling="no" width="100%" frameborder="0"></iframe></div>
    </div>

    <div id="twitter-button">
        <iframe style="width: 117px; height: 20px;" data-twttr-rendered="true" title="Twitter Tweet Button" class="twitter-share-button twitter-tweet-button twitter-count-horizontal" src="http://platform.twitter.com/widgets/tweet_button.1383343979.html#_=1383819865107&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=es&amp;original_referer=http%3A%2F%2Fnolotiro.org%2Fes%2Fad%2F153380%2F&amp;related=alabs_es&amp;size=m&amp;text=http%3A%2F%2Fnolotiro.org%2Fes%2Fad%2F153380%2Ftop-talla-s-getafe%20%20Top%20talla%20s%20en%20getafe&amp;url=http%3A%2F%2Fnolotiro.org%2Fes%2Fad%2F153380%2Ftop-talla-s-getafe&amp;via=nolotiro" allowtransparency="true" id="twitter-widget-0" scrolling="no" frameborder="0"></iframe><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>

    <div id="facebook-button">
        <iframe allowtransparency="true" src="http://www.facebook.com/plugins/like.php?href=http://nolotiro.org/es/ad/153380/top-talla-s-getafe&amp;layout=button_count&amp;show_faces=false&amp;width=110&amp;height=21&amp;action=like&amp;font=arial&amp;colorscheme=light" style="border:none; overflow:hidden; width:110px; height:21px" scrolling="no" frameborder="0"></iframe>
    </div>

</div>


</div>

    


                <div class="ad_comment_form">
        <a href="/es/auth/login">accede para escribir un comentario</a>         </div>
        


</div>

</div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ad.body %>
</p>

<p>
  <strong>User owner:</strong>
  <%= @ad.user_owner %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ad.type %>
</p>

<p>
  <strong>Woeid code:</strong>
  <%= @ad.woeid_code %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @ad.ip %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
