<%= content_for :title, @ad.meta_title %>

<%= content_for :meta_description do %>
  <%= t('nlt.meta_description_ad', title: @ad.filtered_title,
                                   woeid: @ad.woeid_name,
                                   body: @ad.filtered_body) %>
<% end %>

<% content_for :action do %>
  <div class="ad_change_location_home">
    <%= link_to t('nlt.change_city'), location_ask_path %>
  </div>

  <div class="ad_create_tab">
    <%= link_to "+ #{ t('nlt.publish_ad_on', woeid: @ad.woeid_name_short) }", new_ad_path %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-7 col-sm-7">
    <div class="default_header_section">
      <h2>
        <%= link_to ads_woeid_path(@ad.woeid_code, type: @ad.type) do %>
          <%= @ad.woeid_name %> &gt;
          <%= @ad.type_string %>
        <% end %>
      </h2>
      <h1><%= @ad.filtered_title %></h1>
    </div>

    <div class="default_content_section">
      <%= render "ads/actions", ad: @ad %>

      <div class="aod_content">
        <% if @ad.image.exists? %>
          <div class="ad_list_image">
            <%= link_to image_tag(@ad.image.url(:thumb), alt: @ad.filtered_title),
                        @ad.image.url %>
          </div>
        <% end %>

        <div class="ad_status_line">
          <% if @ad.give? %>
            <span class="ad_status <%= @ad.status %>"><%= @ad.status_string %></span>
          <% end %>

          <%= linked_published_ago_by(@ad.published_at, @ad.user) %>
        </div>

        <div class="body-wrapper">
          <%= simple_format(@ad.filtered_body) %>
        </div>

        <%= render "stats", comments_count: @comments.size,
                            readed_count: @ad.readed_count %>

        <% if @ad.available? &&
              (current_user.nil? || current_user.whitelisting?(@ad.user)) %>
          <div class="ad_contact">
            <%= t('nlt.are_you_interested') %>

            <%= link_to new_conversation_path(recipient_id: @ad.user_owner,
                                              subject: @ad.slug),
                        class: "world_link" do %>
              <%= t('nlt.send_a_message') %>
              <%= image_tag "email_send.png", alt: t('nlt.send_a_message') %>
            <% end %>
          </div>
        <% end %>

        <div class="sharelinks">
          <p><%= t('nlt.share_this_ad') %>:</p>

          <div class="social-buttons">
            <%= render "partials/social_buttons", url: ad_url(@ad) %>
          </div>
        </div>
      </div>

      <%= render "comments/list", comments: @comments %>
    </div>
  </div>

  <div class="col-md-5 col-sm-5">
    <div class="google_ad_wrapper">
      <%= render "partials/google_adsense", class_name: "google_adsense_300_250", ad_slot: "8702329269" %>
    </div>
  </div>
</div>
