<%= content_for :title, @ad.meta_title %>

<%= content_for :meta_description do %>
  <%= t('nlt.meta_description_ad', type: @ad.type_string,
                                   title: @ad.filtered_title,
                                   woeid: @ad.woeid_name,
                                   body: @ad.filtered_body) %>
<% end %>

<% content_for :action do %>
  <div class="ad_change_location_home">
    <%= link_to t('nlt.change_city'), location_ask_path %>
  </div>

  <div class="ad_create_tab">
    <%= link_to "+ #{ t('nlt.publish_ad_on', woeid: @ad.woeid_name_short) }", new_ad_path %>
  </div>
<% end %>

<% content_for(:og_image, asset_url(@ad.image.url)) if @ad.image.exists? %>

<div class="row ad-hero">
  <div class="col-md-8 col-sm-12 ad_image_banner">
    <%= link_to t("nlt.ad_#{@ad.type}"), ads_woeid_path(@ad.woeid_code, type: @ad.type)%>
    <h1>
      <%= @ad.filtered_title %>
    </h1>
    <span class="location">
      <i class="glyphicon glyphicon-map-marker"></i>
      <%= @ad.woeid_name %>
    </span>
    <span class="time">
      <i class="glyphicon glyphicon-time"></i>
      <%= linked_published_ago_by(@ad.published_at, @author) %>
    </span>

    <div class="add_list_image">
      <%= link_to image_tag(@ad.image.url(:original), alt: @ad.filtered_title, class: "img-responsive"),
        @ad.image.url %>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 actions">
    <div class="google_ad_wrapper">
      <%= render "partials/google_adsense",
          class_name: "google_adsense_300_250",
          ad_slot: "8702329269" %>
    </div>
    <div class="col-sm-12">
      <%= render "ads/actions", ad: @ad %>
    </div>
    <div class="body-wrapper">
      <%= simple_format(@ad.filtered_body) %>
    </div>
    <% if @ad.currently_available? %>
      <% title = t('nlt.send_a_message', user: @author.username) %>
    <% else %>
      <% title = t('nlt.give_it_to', user: @author.username) %>
    <% end %>
    <% if (@ad.want? || @ad.currently_available?) &&
        (current_user.nil? || current_user.whitelisting?(@author)) %>
    <%= link_to new_conversation_path(recipient_id: @ad.user_owner,
                                      subject: @ad.slug), class: "btn btn-lg btn-primary" do %>
                                      <i class="glyphicon glyphicon-envelope"></i>
                                      <%= title %>
                                    <% end %>
    <% end %>
    <% if current_user %>
      <div class="ad_report">
        <span class="report"><%= t('nlt.is_this_scam') %></span>

        <%= render 'application/report', user: @author, title: t('nlt.report') %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= render "comments/list", comments: @comments %>
  </div>
</div>

