<% content_for(:meta_title,  "#{t('nlt.keywords')} #{@ad.title} #{@ad.woeid_name}") %>
<% content_for :meta_description do %>
  <meta name="description" content="regalo segunda mano <%= @ad.title %> en <%= @ad.woeid_name %>. <%= @ad.body %>" />
<% end %>

<div id="default_header_section">
  <h2>
    <a href="/es/woeid/<%= @ad.woeid_code %>/give">
      <%= @ad.woeid_name %> &gt;
      <%= @ad.type_string %>
    </a>
  </h2>
  <h1><%= @ad.title %></h1>
</div>

<div id="main">
  <div class="span-15">
    <div class="ad_excerpt_show">
      <% if @ad.image.exists? %>
        <div class="ad_list_image">
          <%= link_to image_tag(@ad.image.url(:thumb), :alt => @ad.title), @ad.image.url, :rel => 'superbox[image]', :alt => "Click para agrandar foto" %>
        </div>
      <% end %>
      <% if can? :update, @ad %>
        <div class="ad_edit">
          <%= link_to ads_edit_path(@ad.id) do %>
            <%= image_tag "edit_ad.png", :alt => t('nlt.edit_this_ad') %>
            &nbsp; <%= t('nlt.edit_this_ad') %>
          <% end %>
        </div>
      <% end %>
      <span class="ad_status <%= @ad.status_class %>"><%= @ad.status_string %></span>
      <span class="ad_date">
        <%= t('nlt.published_at_by_html', time: distance_of_time_in_words_to_now(@ad.created_at), user: link_to(@ad.user.username, listads_user_path(@ad.user))) %>
      </span>
      <br>
      <p><%= @ad.body %></p>
      <div class="ad_meta_info">
      </div>
      &nbsp;

      <%= t('nlt.are_you_interested') %>
      <%= link_to message_new_with_subject_path(user_id: @ad.user.id, subject: @ad.title.parameterize), :class => "world_link" do %>
        <%= t('nlt.send_a_message') %>
        <%= image_tag "email_send.png", :alt => "send a mesage" %>
      <% end %>

      <br><br>
      <div class="sharelinks">
        <p style="text-align:left;margin-bottom:5px;"><%= t('nlt.share_this_ad') %>:</p>
        <%= render :partial => "partials/social_buttons", :locals => { :url => ad_url(@ad) } %>
      </div>
    </div>
    <%= render :partial => "comments/show", :locals => {:ad => @ad} %>
  </div>
</div>

<%= render partial: "partials/google_adsense", locals:
  {id: "ads-show", ad_slot: "5167442460", ad_width: 300, ad_height: 250}
%>

<% content_for :action do %>
  <div class="ad_create_tab">
    <a href="/es/ad/create">+ Publicar anuncio</a>
  </div>
<% end %>
