<div class="thread_excerpt">
  <div class="thread-from">
    <h4>
      <% if defined? thread[1].username %>
        <%= link_to thread[1].username, profile_path(thread[1]) %>
      <% end %>
    </h4>
  </div>
  <div class="thread-messages">
    <%= thread[0].messages.count %>
    [<%= thread[0].unreaded_messages_count %>]
  </div>
  <div class="thread-subject">
    <%= link_to thread[0].subject, mailboxer_message_show_path(id: thread[0].id, subject: thread[0].subject) %>
  </div>
  <div class="thread-date">
    <%= distance_of_time_in_words_to_now thread[0].messages.last.created_at %>
  </div>
</div>
