- title = t('mailboxer.titles.index', username: current_user.username)
= content_for :meta_title, title

#default_header_section
  %h1=title
#main
  .span-18
    = render partial: "users/tabnav", locals: {user: current_user}
    = render partial: "messages/tabmessages", locals: {box: @box}
    - if @search
      %h2=t('mailboxer.search', search: @search)
    - if @messages.count > 0
      = form_tag trash_mailboxer_messages_path, method: :delete do
        = hidden_field_tag 'current_box', @box
        .table-responsive
          %table#mail-list.table.table-condensed
            %tbody
              - @messages.each do |m|
                %tr{ class: "mail #{ 'unread' if m.is_unread?(current_user) }" }
                  - unless @box == 'trash'
                    %td
                      = check_box_tag '', m.id, false, class: 'delete_multiple_checkbox', name: "conversations[]"
                  - else
                    %td
                  %td.sender
                    = cache "other_username-#{current_user.id}_#{m.id}" do
                      = other_username( current_user.username, m )
                  %td.mail-subject
                    = link_to m.subject, mailboxer_message_path(m)
                  %td.timestamp
                    = cache "moment-#{m.messages}" do
                      %abbr.js-moment{title: m.messages.last.created_at}=m.messages.last.created_at
        - unless @box == 'trash'
          = submit_tag t('mailboxer.buttons.trash_selected'), id: 'delete_multiple_button'
      = will_paginate @messages
    - else
      %p
        .info
          = t("mailboxer.table.none")

    = render partial: "partials/google_adsense", locals: { class_name: "mobile google_adsense_336_280", ad_slot: "7225596067"}

  .span-2
    = render partial: "partials/google_adsense", locals: { class_name: "desktop google_adsense_600_160", ad_slot: "6783776462"}
