- title = "Mensajes de #{current_user.username}"
= content_for :meta_title, title

#default_header_section
  %h1 title
#main 
  .span-19 
    = render partial: "users/tabnav", locals: {user: current_user} 
    = render partial: "messages/tabmessages", locals: {box: @box} 
    - if @search
      %h2 Search results for '#{@search}'
    = form_tag trash_messages_path, method: :delete do
      = hidden_field_tag 'current_box', @box
      %table#mail-list
        %thead
          %tr 
            - unless @box == 'trash'
              %td ¿Borrar?
            - else 
              %td
            %td
            %td Enviado
            %td Recibido
            %td Último
            %td{style: "width: 300px;"} Asunto
            %td Fecha
        %tbody
          - @messages.each do |m|
            %tr{ class: "mail #{ 'unread' if m.is_unread?(current_user) }" }
              - unless @box == 'trash'
                %td{style: "float:left;width:20px;"}
                  = check_box_tag '', m.id, false, class: 'delete_multiple_checkbox', name: "conversations[]"
              - else 
                %td 
              %td.star.icon.nobookmark{style: "float:left;width:20px;"}  
              %td.sender
                = m.messages.first.recipients.first.username
              %td.sender
                = m.messages.first.recipients.second.username
              %td.sender
                = m.last_sender
              %td.mail-subject
                = link_to message_path(m) do
                  = m.subject 
              %td.timestamp
                = l m.messages.last.created_at, format: "a las %H:%M del %d-%m-%Y "
      - unless @box == 'trash'
        = submit_tag "Borrar mensajes seleccionados", id: 'delete_multiple_button'

