- title = t('mailboxer.titles.index', username: current_user.username)
= content_for :meta_title, title

#default_header_section
  %h1=title

.col-md-9.col-sm-9
  .row
    = render partial: "users/tabnav", locals: {user: current_user}
    = render partial: "messages/tabmessages", locals: {box: @box}
    - if @conversations.count > 0
      = form_tag trash_mailboxer_messages_path, method: :delete do
        = hidden_field_tag 'current_box', @box
        .table-responsive
          %table#mail-list.table.table-condensed
            %tbody
              - @conversations.each do |c|
                = render partial: "messages/conversation",
                         locals: { c: c, timestamp: c.last_message.created_at }
        - unless @box == 'trash'
          = submit_tag t('mailboxer.buttons.trash_selected'), id: 'delete_multiple_button'
      = will_paginate @conversations
    - else
      %p
        .info
          = t("mailboxer.table.none")

.col-md-3.col-sm-3
  .row
    = render partial: "partials/google_adsense", locals: { class_name: "mobile google_adsense_336_280", ad_slot: "7225596067"}
    = render partial: "partials/google_adsense", locals: { class_name: "desktop google_adsense_600_160", ad_slot: "6783776462"}
