- title = t('mailboxer.titles.index', username: current_user.username)
= content_for :meta_title, title

#default_header_section
  %h1=title
#main
  .span-19#list-messages-profile
    = render partial: "users/tabnav", locals: {user: current_user}
    = render partial: "messages/tabmessages", locals: {box: @box}
    - if @search
      %h2=t('mailboxer.search', search: @search)
    - if @messages.count > 0
      = form_tag trash_mailboxer_messages_path, method: :delete do
        = hidden_field_tag 'current_box', @box
        %table#mail-list
          %thead
            %tr
              - unless @box == 'trash'
                %td=t('mailboxer.table.delete')
              - else
                %td
              %td
              %td=t('mailboxer.table.sender')
              %td=t('mailboxer.table.reciever')
              %td=t('mailboxer.table.last')
              %td{style: "width: 300px;"}=t('mailboxer.table.subject')
              %td{style: "width: 250px;"}=t('mailboxer.table.date')
          %tbody
            - @messages.each do |m|
              %tr{ class: "mail #{ 'unread' if m.is_unread?(current_user) }" }
                - unless @box == 'trash'
                  %td{style: "float:left;width:20px;"}
                    = check_box_tag '', m.id, false, class: 'delete_multiple_checkbox', name: "conversations[]"
                - else
                  %td
                %td.star.icon.nobookmark{style: "float:left;width:20px;"}
                %td.sender
                  = m.messages.first.recipients.first.username
                %td.sender
                  = m.messages.first.recipients.second.username
                %td.sender
                  = m.last_sender
                %td.mail-subject
                  = link_to m.subject, mailboxer_message_path(m)
                %td.timestamp
                  = l m.messages.last.created_at, format: "%H:%M %d-%m-%Y "
        - unless @box == 'trash'
          = submit_tag t('mailboxer.buttons.trash_selected'), id: 'delete_multiple_button'
      = will_paginate @messages
    - else
      %p
        .info
          = t("mailboxer.table.none")

      = render :partial => "partials/google_adsense", locals: {:class_name => "vertical_ad"}
