- title = t('mailboxer.new.title', user: @recipient.username)
- content_for :meta_title, title

#default_header_section
  %h1
    = title
#main
  .span-14
    = form_for @message do |f|
      %fieldset
        %legend= t('mailboxer.new.legend')
        -if @message.errors.any?
          .error
            %h2= t('mailboxer.new.errors', errors: pluralize(@message.errors.count, "error"))
            %ul
              -@message.errors.full_messages.each do |msg|
                %li '#{ msg }'
        %dl.zend_form
          %dt#subject-label
            = f.label :subject, t('mailboxer.new.subject')
          %dd#subject-element
            -if params['subject']
              = f.text_field :subject, value: params['subject']
            -else
              = f.text_field :subject
          %dd#body-element
            = f.text_area :body, size: '80x3', maxlength: 1500, required: true
            %p.description
              = t 'mailboxer.new.body_max'
        = f.hidden_field :recipients
        = f.submit t('mailboxer.new.submit')
  .span-9
    = render partial: "partials/google_adsense", :locals => { :class_name => "rectangular_ad desktop", :data_format => "rectangle" }
    = render partial: "partials/google_adsense", :locals => { :class_name => "rectangular_ad mobile" }
