- title = t('mailboxer.new.title', user: @recipient.username)
- content_for :meta_title, title

#default_header_section
  %h1
    = title
#main
  .span-13
    = form_for @message do |f|
      %fieldset
        = errors_for(@message)

        %dl
          %dt
            = f.label :subject, t('mailboxer.new.subject')
          %dd
            -if params['subject']
              = f.text_field :subject, value: params['subject']
            -else
              = f.text_field :subject
          %dd
            = f.text_area :body, size: '80x3', maxlength: 1500, required: true
            %p.description
              = t 'mailboxer.new.body_max'
        = f.hidden_field :recipients
        = f.submit t('mailboxer.new.submit')
  .span-1
    %br
  .span-8
    = render partial: "partials/google_adsense", locals: { class_name: "google_adsense_336_280", ad_slot: "7225596067"}
