<div id="default_header_section">
  <h5><%= link_to "&lt; volver a mensajes", messages_list_path %></h5>
  <h1><%= @thread.subject %></h1>
</div>

<div id="main">
  <div class="span-15">
    <% @thread.messages.each do |message| %>
      <%= render :partial => "message", :locals => {:message => message} %>
    <% end %>
    <div class="message-excerpt">
      <div class="message-from-left">
        <%= link_to profile_path(current_user) do %>
          <%= image_tag "contact.png" %>
          <%= current_user.username %>
        <% end %>
      </div>
      <div class="message-container-right">
        <div class="triangle-me">
        </div>
        <div class="bubble-reply bg-bubble-me">
          <%= render :partial => "form", :locals => {:thread => @thread, :user => current_user} %>
          </div>
      </div>
    </div>
  </div>

  <!-- google adsense block -->
  <div class="google_ads">
    <%= image_tag "http://placehold.it/300x250" %>
  </div>
</div>
