- title = t("mailboxer.titles.conversation", recipient: interlocutor_username(@conversation),
                                             subject: @conversation.subject)
- content_for :meta_title, title

#default_header_section
  %h5
    = link_to t("mailboxer.buttons.back"), mailboxer_messages_path
  %h1
    = title
  - if @conversation.is_trashed?(current_user)
    = link_to t("mailboxer.buttons.untrash"), untrash_mailboxer_message_path(@conversation), class: :button, method: :post
  - else
    = link_to t("mailboxer.buttons.trash"), trash_mailboxer_message_path(@conversation), class: :button, method: :delete

#main
  .span-14#messages-thread
    - @conversation.messages.includes(:sender).each do |mes|
      = render :partial => "message", :locals => {:message => mes}
    = render :partial => "reply", :locals => {:message => @message}
  .span-8.mobile
    = render partial: "partials/google_adsense", locals: { class_name: "google_adsense_336_280", ad_slot: "7225596067"}
  .span-7.desktop.google_ad_wrapper
    = render partial: "partials/google_adsense", locals: { class_name: "google_adsense_300_250", ad_slot: "8702329269"}
