- title = t("mailboxer.titles.conversation", recipient: @conversation.recipients.first.username, subject: @conversation.subject)
- content_for :meta_title, title

#default_header_section
  %h5
    = link_to t("mailboxer.buttons.back"), mailboxer_messages_path
  %h1
    = title
  =# link_to "Ver conversación antigua", legacy_message_show_path(@conversation.thread_id, @conversation.subject)
  - if @conversation.is_trashed?(current_user)
    = link_to t("mailboxer.buttons.untrash"), untrash_mailboxer_message_path(@conversation), class: :button, method: :post
  - else
    = link_to t("mailboxer.buttons.trash"), trash_mailboxer_message_path(@conversation), class: :button, method: :delete

#main
  .span-15
    - @conversation.messages.each do |mes|
      = render :partial => "message", :locals => {:message => mes}
    = render :partial => "reply", :locals => {:message => @message}
    = render :partial => "partials/google_adsense", :locals => {:class_name => "vertical_ad"}
