<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit t('devise.confirmations.resend') %>
  </div>

  <div class="form-group">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
