<% content_for :meta_title, t('nlt.user_edit_profile') %>

<section class="default_header_section">
  <h1><%= t('nlt.user_edit_profile') %></h1>
</section>

<div class="col-md-8 col-sm-8">
  <div class="row">
    <%= render "users/tabnav", user: @user %>

    <%= render 'edit_form' %>
  </div>
</div>

<section class="default_header_section">
  <h1><%= t('nlt.cancel_my_account') %></h1>
</section>

<div class="col-md-8 col-sm-8">
  <div class="row">
    <p>
      <%= t('nlt.want_to_leave') %>
      <%= link_to t('nlt.cancel_my_account'),
                  registration_path(resource_name),
                  data: { confirm: t('nlt.delete_sure') }, method: :delete %>.
    </p>
  </div>
</div>
