<%= form_for [comment.ad, comment] do |f| %>
  <%= errors_for(comment) %>

  <dl>
    <dt>
      <%= f.label :body, t('nlt.comments.label') %>
    </dt>

    <dd>
      <%= f.text_area :body, size: '80x24', maxlength: 1000 %>

      <p class='description'>
        <%= t 'nlt.comments.body_max' %>
      </p>
    </dd>
    <dt>&nbsp;</dt>
    <dd>
      <%= f.submit t('nlt.comments.submit') %>
    </dd>
  </dl>
<% end %>
