<%= form_for [comment.ad, comment] do |f| %>
  <%= errors_for(comment) %>

  <div class="form-group">
    <%= f.label :body, t('nlt.comments.label') %>
    <%= f.text_area :body,
                    size: '80x12',
                    maxlength: 1000,
                    class: 'form-control' %>

    <p class='help-block'>
      <%= t 'nlt.comments.body_max' %>
    </p>
  </div>

  <div class="form-group">
    <%= f.submit t('nlt.comments.submit') %>
  </div>
<% end %>
