<div class="ad_comment_form">
	<%= form_tag(create_comment_path(ad)) do %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= t('nlt.save_failed') %></h2>
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <dl>
      <dt>
        <label for="body" class="optional">
          <%= t('nlt.comments.label') %>
        </label>
      </dt>
      <dd>
        <%= text_area_tag("body", "", size: "80x24", maxlength: 1000) %>
        <p class="description">
        <%= t 'nlt.comments.body_max' %>
        </p>
      </dd>
      <dt>&nbsp;</dt>
      <dd>
        <%= submit_tag t('nlt.comments.submit') %>
      </dd>
    </dl>
  <% end %>
</div>
