<div class="ad_comments">
  <h5><%= t('nlt.comments.title') %></h5>

  <% ad.comments.includes(:user).each do |comment| %>
    <div class="ad_comment">
      <span class="ad_date">
        <%= t('nlt.published_at_by_html', time: distance_of_time_in_words_to_now(comment.created_at), user: link_to(comment.user.username, profile_path(comment.user))) %>
      </span>
     <br>
     <span><%= comment.body %></span>
    </div>
  <% end %>

  <div class="ad_comment_form">
    <% if user_signed_in? %>
      <%= render partial: "comments/form", locals: {ad: ad.id} %>
    <% else %>
      <%= link_to t('nlt.login_to_comment'), new_user_session_path %>
    <% end %>
  </div>
</div>
