%tr{ class: "mail #{ 'unread' if c.unread?(current_user) }" }
  %td
    = check_box_tag '', c.id, false, id: "delete-conversation-#{c.id}",
                                     class: 'delete_multiple_checkbox',
                                     name: "conversations[]"
  %td.sender
    = link_to_interlocutor(c)
  %td.mail-subject
    = link_to c.subject, conversation_path(c)
  %td.timestamp
    %abbr.js-moment{title: c.updated_at}=c.updated_at
