= form_tag conversations_path do |f|
  %fieldset
    = errors_for(message)

    .form-group
      = label_tag :subject, t('mailboxer.new.subject')
      %br
      = text_field_tag :subject, params[:subject]

    .form-group
      = text_area_tag :body,
                      params[:body],
                      size: '80x3',
                      maxlength: 1500,
                      required: true

      %p.description
        = t 'mailboxer.new.body_max'

    = hidden_field_tag :recipient_id, params[:recipient_id]

    = submit_tag t('mailboxer.new.submit')
