<div class="message-excerpt">
  <div class="message-container">
    <div class="<%= bubble_edge_css_class(message) %>">
    </div>
    <div class="<%= bubble_css_classes(message) %>">
      <div class="message-date">
        <%= time_ago_in_words(message.created_at) %>
      </div>
      <!-- Only for admin until we have better anti-spam measures -->
      <% if message.sender&.admin? %>
        <%= simple_format(Rinku.auto_link(message.body, :all, 'target="_blank"')) %>
      <% else %>
        <%= simple_format(message.body) %>
      <% end %>
    </div>
  </div>
</div>
