<div class="message-excerpt">
  <div class="message-container">
    <div class="triangle-me"></div>

    <div class="bubble-reply bg-bubble-me">
      <div id="reply">
        <%= form_tag conversation_path(message.conversation),
                     method: :put do |f| %>
          <%= errors_for(message) %>

          <div class="form-group">
            <%= text_area_tag :body,
                              params[:body],
                              size: '80x3',
                              maxlength: 1500 %>

            <p class="help-block">
              <%= t 'conversations.new.body_max' %>
            </p>
          </div>

          <%= submit_tag t('conversations.new.submit') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
