<% content_for :meta_title do %>
  <%= t("conversations.show.title_html",
        recipient: @interlocutor,
        subject: @conversation.subject) %>
<% end %>

<div class="row">
  <div class="col-md-7 col-sm-7">
    <div class="default_header_section">
      <h5>
        <%= link_to t("conversations.buttons.back"), conversations_path %>
      </h5>
      <h1>
        <%= t("conversations.show.title_html",
              recipient: link_to_profile(@interlocutor),
              subject: @conversation.subject) %>
      </h1>

      <%= link_to t("conversations.buttons.trash"),
                  trash_conversation_path(@conversation),
                  class: :button,
                  method: :delete %>
    </div>

    <div class="default_content_section">
      <% @conversation.messages_for(current_user)
                      .includes(:sender)
                      .each do |mes| %>
        <%= render "message", message: mes %>
      <% end %>

      <% if policy(@conversation).update? %>
        <%= render "reply", message: @message %>
      <% end %>
    </div>
  </div>

  <div class="col-md-5 col-sm-5">
    <%= render "partials/google_adsense", class_name: "mobile google_adsense_336_280", ad_slot: "7225596067" %>
    <%= render "partials/google_adsense", class_name: "desktop google_adsense_300_250", ad_slot: "8702329269" %>
  </div>
</div>
