<div id="footer">
  <div class="upperWrap">
    <div class="social-buttons">
      <%= render "partials/social_buttons", url: url %>
    </div>

    <div class="links-right">
      <%= link_to t('nlt.about'), about_path %> |
      <%= link_to t('nlt.blog'), "http://blog.alabs.es/category/nolotiro-org/" %> |
      <%= link_to t('nlt.faqs'), faqs_path %> |
      <%= link_to t('nlt.all_ads'), ads_listall_path(type: 'give') %> |
      <%= link_to t('nlt.translations'), translate_path %> |
      &nbsp;&nbsp;

      <a href="https://alabs.org/">
        <%= image_tag("alabs.png", alt: "aLabs logo") %>
      </a>
    </div>
  </div>

  <div class="innerWrap">
    <p><%= t('nlt.footer_explain') %></p>
  </div>

  <div class="links-left">
    <%= link_to t('nlt.legal_notice'), legal_path %> |
    <%= link_to t('nlt.privacy'), privacy_path %> |
    <%= link_to t('nlt.developers'), 'https://github.com/alabs/nolotiro.org' %> |
    <%= link_to t('nlt.contact'), contact_path %> |
    <%= link_to t('nlt.suggestions'),
                'https://nolotiro.uservoice.com/forums/30282?lang',
                target: "_blank" %>
  </div>
</div>
