<div class="google_ads">
  <%# if Rails.env.development? %>
    <!--<img src="http://placehold.it/<%= ad_width %>x<%= ad_height %>"> -->
  <%# else %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 468X60 -->
    <ins class="adsbygoogle"
      style="display:inline-block;width:468px;height:60px"
      data-ad-client="ca-pub-5360961269901609"
      data-ad-slot="4409975977"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!--
      window.MyAdSense.newAd(document.getElementById("adsense-<%= id %>"), {
        'ad_slot': "<%= ad_slot %>",
        'ad_width': <%= ad_width %>,
        'ad_height': <%= ad_height %>
      });
    -->
  <%# end %>
</div>
