<div class="google_ads">    
  <% if Rails.env.development? %>
    <img src="http://placehold.it/<%= ad_width %>x<%= ad_height %>">
  <% else %>
    <div id="adsense-<%= id %>"></div>    
    <script>    
    window.MyAdSense.newAd(document.getElementById("adsense-<%= id %>"), {          
      'ad_slot': "<%= ad_slot %>",    
      'ad_width': <%= ad_width %>,    
      'ad_height': <%= ad_height %>    
    });    
    </script>    
  <% end %>

  <% if ad_height == 600%>
    <%= link_to(image_tag("ad_puntoabierto.gif", style: "width:140px; margin-top: 20px; display: block; margin-left: auto; margin-right: auto;", title: "Punto Abierto - Comunicación, Social Media y Web"), "http://puntoabierto.net/") %>
<% end %>
</div>    
