<div class="link-boxes">
  <%= render "partials/select_language_box" %>

  <%= render "partials/user_actions" %>
</div>

<div class="actions-row">
  <div class="site-logo">
    <%= link_to root_path, title: "nolotiro.org home" do %>
      <div class="site-name">nolotiro.org</div>
      <div class="site-slogan"><%= t('nlt.slogan') %></div>
    <% end %>
  </div>

  <% if content_for?(:action) %>
    <div class="page-actions">
      <%= yield(:action) %>
    </div>
  <% end %>
</div>
