<% unless current_woeid %>
  <%= render "partials/location_ranking", title_key: "cities_in_the_world",
                                          ranking: Ad.top_locations %>
<% end %>

<%= render "partials/user_ranking",
           title_key: "users_most_active_last_week",
           ranking: last_week_user_ranking %>

<%= render "partials/user_ranking",
           title_key: "users_most_active",
           ranking: overall_user_ranking %>

<div class="google_ad_wrapper">
  <%= render "partials/raw_google_adsense", class_name: "desktop google_adsense_600_160", ad_slot: "6783776462" %>
  <%= render "partials/google_adsense", class_name: "mobile google_adsense_300_250", ad_slot: "8702329269" %>
</div>
