<div id="select_language_box">
  <%= render "partials/language", abbr: "en", language: "English" %>
  <%= render "partials/language", abbr: "es", language: "Español" %>
  <%= render "partials/language", abbr: "ca", language: "Català" %>
  <%= render "partials/language", abbr: "gl", language: "Galego" %>
  <%= render "partials/language", abbr: "fr", language: "Français" %>
  <%= render "partials/language", abbr: "pt", language: "Português" %>
  <%= render "partials/language", abbr: "it", language: "Italiano" %>
  <%= link_to "Otro...", translate_path %>
</div>
