<div id="select_language_box">
  <%= render :partial => "partials/language", :locals => {
    :abbr => "en",
    :language => "English"
  } %>
  <%= render :partial => "partials/language", :locals => {
    :abbr => "es",
    :language => "Español"
  } %>
  <%= render :partial => "partials/language", :locals => {
    :abbr => "ca",
    :language => "Català"
  } %>
  <%= render :partial => "partials/language", :locals => {
    :abbr => "gl",
    :language => "Galego"
  } %>
  <%= render :partial => "partials/language", :locals => {
    :abbr => "eu",
    :language => "Euskara"
  } %>
  <%= render :partial => "partials/language", :locals => {
    :abbr => "nl", 
    :language => "Nederlands"
  } %>
  <%= render :partial => "partials/language", :locals => {
    :abbr => "de",
    :language => "Deutsch"
  } %>
  <%= render :partial => "partials/language", :locals => {
    :abbr => "fr",
    :language => "Français"
  } %>
  <%= render :partial => "partials/language", :locals => {
    :abbr => "pt",
    :language => "Português"
  } %>
  <%= render :partial => "partials/language", :locals => {
    :abbr => "it",
    :language => "Italiano"
  } %>
  <%= link_to "Otro...", translate_path %>
</div>
