<div class="user_login_box">
  <% if user_signed_in? %>
    <span>
      <%= t('nlt.welcome') %>,
      <b>
        <%= link_to current_user.username, profile_path(current_user), id: 'js-username' %>
      </b>
    </span>

    <span>
      <% unread_messages_count = current_user.unread_messages_count %>
      <%= link_to messages_list_path, title: "#{unread_messages_count}" do %>
        <%= image_tag "icons/ico_email.gif" %>
        &nbsp;<b><%= unread_messages_count %></b>
      <% end %>
    </span>

    <span>
      <%= link_to t('nlt.logout'), destroy_user_session_path, method: :delete %>
    </span>
  <% else %>
    <span>
      <%= link_to t('nlt.new_user'), new_user_registration_path %>
    </span>

    <span>
      <%= link_to t('nlt.login'), new_user_session_path %>
    </span>
  <% end %>
</div>
