<ul>
  <% if current_user.nil? || blocking.nil? %>
    <li>
      <%= link_to new_conversation_path(recipient_id: user.id),
                  class: "world_link" do %>
        <%= t('nlt.profile_actions.contact', username: user.username) %>

        <%= image_tag "email_send.png" %>
      <% end %>
    </li>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user == user %>
      <li>
        <%= link_to t('nlt.profile_actions.edit'),
                    user_edit_path(user),
                    class: 'world_link' %>
      </li>
    <% elsif blocking %>
      <li>
        <%= link_to blocking, method: :delete, class: 'world_link' do %>
          <%= t('nlt.profile_actions.blocking.delete', username: user.username) %>

          <%= image_tag "unblock.png" %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to blockings_path(blocked_id: user.id),
                    data: { confirm: t('nlt.profile_actions.blocking.confirm', username: user.username) },
                    method: :post,
                    class: 'world_link' do %>
          <%= t('nlt.profile_actions.blocking.add', username: user.username) %>

          <%= image_tag "block.png" %>
        <% end %>
      </li>

      <li>
        <% friendship = current_user.friend?(user) %>

        <% if friendship %>
          <%= link_to friendship, class: 'world_link', method: :delete do %>
            <%= t('nlt.profile_actions.friend.delete', username: user.username) %>

            <%= image_tag "friend_delete.png" %>
          <% end %>
        <% else %>
          <%= link_to friendships_path(friend_id: user.id),
                      class: 'world_link',
                      method: :post do %>
            <%= t('nlt.profile_actions.friend.add', username: user.username) %>

            <%= image_tag "friend_add.png" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
