<ul class="profile-actions">
  <% if current_user.nil? || blocking.nil? %>
    <li class="list-group-item">
      <%= link_to new_conversation_path(recipient_id: user.id) do %>
        <i class="glyphicon glyphicon-envelope"></i>
        <%= t('nlt.profile_actions.contact') %>
      <% end %>
    </li>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user == user %>
      <li class="list-group-item">
        <%= link_to edit_user_registration_path do %>
          <i class="glyphicon glyphicon-edit"></i>
          <%= t('nlt.profile_actions.edit') %>
        <% end %>
      </li>
    <% elsif blocking %>

      <li class="list-group-item">
        <%= link_to blocking, method: :delete do %>
          <i class="glyphicon glyphicon-ok-circle"></i>
          <%= t('nlt.profile_actions.blocking.delete') %>
        <% end %>
      </li>
    <% else %>
      <li class="list-group-item">
        <%= link_to blockings_path(blocked_id: user.id),
                    data: { confirm: t('nlt.profile_actions.blocking.confirm', username: user.username) },
                    method: :post do %>
          <i class="glyphicon glyphicon-ban-circle"></i>
          <%= t('nlt.profile_actions.blocking.add') %>
        <% end %>
      </li>

      <li class="list-group-item">
        <% friendship = current_user.friend?(user) %>

        <% if friendship %>
          <%= link_to friendship, method: :delete do %>
            <i class="glyphicon glyphicon-remove"></i>
            <%= t('nlt.profile_actions.friend.delete', username: user.username) %>
          <% end %>
        <% else %>
          <%= link_to friendships_path(friend_id: user.id), method: :post do %>
            <i class="glyphicon glyphicon-ok"></i>
            <%= t('nlt.profile_actions.friend.add', username: user.username) %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
