<div class="filter_status">
  <%= link_to t('nlt.all'), url_for, @type.nil? ? { class: "actual" } : {} %>

  <%= link_to t('nlt.available'),
              url_for(type: 'give', status: 'available'),
              @status == "available" ? { class: "actual" } : {} %>

  <%= link_to t('nlt.booked'),
              url_for(type: 'give', status: 'booked'),
              @status == "booked" ? { class: "actual" } : {} %>

  <%= link_to t('nlt.delivered'),
              url_for(type: 'give', status: 'delivered'),
              @status == "delivered" ? { class: "actual" } : {} %>

  <%= link_to t('nlt.requests'),
              url_for(type: 'want'),
              @type == "want" ? { class: "actual" } : {} %>
</div>
