<ul class="nav nlt-tabs">
  <% if user_signed_in? and user == current_user %>
    <li role="presentation" <%= 'class=active' if messages_tab? %>>
      <%= link_to t('nlt.messages'), conversations_path %>
    </li>
  <% end %>

  <li role="presentation" <%= 'class=active' if profile_tab? %>>
    <%= link_to t('nlt.profile'), profile_path(user.username) %>
  </li>

  <li role="presentation" <%= 'class=active' if ad_tab? %>>
    <%= link_to t('nlt.user_ads'), listads_user_path(user) %>
  </li>
</ul>
