<% content_for :meta_title, "#{t('nlt.published_ads')} - #{@user.username}" %>

<div id="default_header_section">
  <h1><%= t 'nlt.published_ads' %>  -  <%= @user.username %></h1>
</div>

<div id="main">
  <div class="span-19" id="list-ads-profile">
    <%= render partial: "users/tabnav", locals: {user: @user} %>
    <%= render partial: "partials/google_adsense", :locals => {:class_name => "vertical_ad mobile"}  %>
    <% @ads.each do |ad| %>
      <%= render :partial => "ads/ad", :locals => { :ad => ad } %>
    <% end %>
    <%= render partial: "partials/pagination", locals: { items: @ads } %>
  </div>
    <%= render partial: "partials/google_adsense", :locals => {:class_name => "vertical_ad desktop"}  %>


</div>
