<% content_for :meta_title, "#{t('nlt.published_ads')} - #{@user.username}" %>

<div id="default_header_section">
  <h1><%= t 'nlt.published_ads' %>  -  <%= @user.username %></h1>
</div>

<div id="main">

  <div class="span-18">

    <%= render partial: "users/tabnav", locals: {user: @user} %>

    <%= render "filter_status" %>

    <div class="span-5 mobile">
      <div class="google_ad_wrapper">
        <%= render partial: "partials/google_adsense", locals: { class_name: "mobile google_adsense_336_280", ad_slot: "7225596067"}  %>
      </div>
    </div>

    <% if @ads.count > 0 %>
      <% @ads.each do |ad| %>
        <%= render :partial => "ads/ad", :locals => { :ad => ad } %>
      <% end %>
      <%= render partial: "partials/pagination", locals: { items: @ads } %>
    <% else %>
      <div class="info"> <%= t("nlt.no_results.on_user") %> </div>
    <% end %>

  </div>

  <div class="span-4 desktop">
    <div class="google_ad_wrapper">
      <%= render partial: "partials/google_adsense", locals: { class_name: "google_adsense_600_160", ad_slot: "6783776462"}  %>
    </div>
    <div class="google_ad_wrapper">
      <%= render partial: "partials/google_adsense", locals: { class_name: "google_adsense_600_160", ad_slot: "6783776462"}  %>
    </div>
    <div class="google_ad_wrapper">
      <%= render partial: "partials/google_adsense", locals: { class_name: "google_adsense_600_160", ad_slot: "6783776462"}  %>
    </div>
  </div>

  <div class="span-5 mobile">
    <div class="google_ad_wrapper">
      <%= render partial: "partials/google_adsense", locals: { class_name: "mobile google_adsense_336_280", ad_slot: "7225596067"}  %>
    </div>
  </div>

</div>
