<% content_for :meta_title, "#{t('nlt.published_ads')} - #{@user.username}" %>

<div id="default_header_section">
  <h1><%= t 'nlt.published_ads' %>  -  <%= @user.username %></h1>
</div>

<div id="main">
  <div class="span-18" id="list-ads-profile">
    <%= render partial: "users/tabnav", locals: {user: @user} %>
    <div class="span-5 mobile">
      <%= render partial: "partials/google_adsense", :locals => {:class_name => "rectangular_ad mobile", :data_format => "horizontal" }  %>
    </div>
    <% if @ads.count > 0 %>
      <% @ads.each do |ad| %>
        <%= render :partial => "ads/ad", :locals => { :ad => ad } %>
      <% end %>
      <%= render partial: "partials/pagination", locals: { items: @ads } %>
    <% else %>
      <p> <div class="info"> <%= t("nlt.no_results.on_user") %> </div> </p>
    <% end %>
  </div>

  <div class="span-5 desktop">
    <%= render partial: "partials/google_adsense", :locals => {:class_name => "vertical_ad desktop"}  %>
  </div>

</div>
