<div id="default_header_section">
  <h1>Ads list  -  <%= @user.username %></h1>
</div>

<div id="main">
  <div class="span-19">
    <%= render partial: "users/tabnav", locals: {user: @user} %>
    <% @ads.each do |ad| %>
      <%= render :partial => "ads/ad", :locals => { :ad => ad } %>
    <% end %>
    <%= will_paginate @ads, :page_links => false %>
  </div>
</div>

<div class="google_ads">
  <%= image_tag "http://placehold.it/160x600" %>
</div>
