<% content_for :meta_title, "#{t('nlt.published_ads')} - #{@user.username}" %>

<div class="default_header_section">
  <h1><%= t 'nlt.published_ads' %>  -  <%= @user.username %></h1>
</div>

<div class="col-md-9 col-sm-9">
  <div class="row">
    <%= render "users/tabnav", user: @user %>

    <%= render "filter_status" %>

    <% if @ads.any? %>
      <%= render 'ads/list_with_adsense', ads: @ads %>

      <%= will_paginate @ads, inner_window: 2, outer_window: -1 %>
    <% else %>
      <div class="empty"> <%= t("nlt.no_results.on_user") %> </div>
    <% end %>
  </div>
</div>

<div class="col-md-3 col-sm-3">
  <div class="google_ad_wrapper">
    <%= render "partials/google_adsense", class_name: "desktop google_adsense_600_160", ad_slot: "6783776462" %>
    <%= render "partials/google_adsense", class_name: "mobile google_adsense_336_280", ad_slot: "7225596067" %>
  </div>
</div>
