<%= content_for(:meta_title, "#{t('nlt.user_profile')} - #{@user.username}") %>

<div id="default_header_section">
  <h1><%= t('nlt.user_profile') %> - <%= @user.username %></h1>
</div>

<div class="col-md-9 col-sm-9">
  <div class="row">
    <%= render partial: "users/tabnav", locals: {user: @user} %>
    <div class="ad_excerpt">
      <h4><%= t('nlt.username') %>: <%= @user.username %></h4>
      <h4><%= t('nlt.member_since') %>: <%= l @user.created_at, format: :long %></h4>
      <ul>

        <% if user_signed_in? and @user.id == current_user.id %>  
          <li>                                                                         
            <%= link_to t('nlt.user_edit_profile'), user_edit_path(@user) %>                      
          </li>
        <% end %>

        <% unless current_user == @user %>
          <li>
            <%= link_to message_new_path @user.id, :class => "world_link" do %>
              <%= t('nlt.send_a_message_to') %> <%= @user.username %>
              <%= image_tag "email_send.png", :alt => "send a mesage" %>
            <% end %>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <% unless current_user == @user %>
            <li>
            <% if current_user.is_friend? @user %>
              <%= link_to destroy_friend_path(@user.id), class: 'world_link', method: 'post' do %>
                <%= t('nlt.profile_actions.friend.delete', username: @user.username) %>
                <%= image_tag "friend_delete.png", alt: "Delete friend"%>
              <% end %>
            <% else %>
              <%= link_to add_friend_path(@user.id), class: 'world_link', method: 'post' do %>
                <%= t('nlt.profile_actions.friend.add', username: @user.username) %>
                <%= image_tag "friend_add.png", alt: "Add friend"%>
              <% end %>
            <% end %>
            </li>
          <% end %>
        <% end %>


      <% if can? :lock, @user %>
        <li>
          <% if @user.locked? %>
            <%= link_to unlock_user_path(@user.id), data: {confirm: "¿Estás seguro que quieres desbloquear a este usuario? Podrá volver iniciar sesión."} do %>
              <%= t('nlt.admin.unlock_user') %>
              <%= image_tag "neu/24x24/actions/add.png" %>
            <% end %>
          <% else %>
            <%= link_to lock_user_path(@user.id), data: {confirm: "¿Estás seguro que quieres bloquear a este usuario? No podrá iniciar sesión."} do %>
              <%= t('nlt.admin.lock_user') %>
              <%= image_tag "neu/24x24/actions/remove.png" %>
            <% end %>
          <% end %>
        </li>
      <% end %>

      <% unless user_signed_in? and @user.id == current_user.id %>  

        <% if can? :become, @user %>
          <li>
            <%= link_to t('nlt.admin.become_user'), become_user_path(@user.id) %>
          </li>
        <% end %>

      <% end %>

      <% unless @user.friends.count == 0 %>
        <div>
        <h4><%= t('nlt.friends') %>:</h4>
        <ul>
          <% @user.friends.each do |friend| %>
            <li>
              <%= link_to friend.username, profile_path(friend.username) %>
            </li>
          <% end %>
        </ul>
        <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
