<%= content_for(:meta_title, "#{t('nlt.user_profile')} - #{@user.username}") %>

<div id="default_header_section">
  <h1><%= t('nlt.user_profile') %> - <%= @user.username %></h1>
</div>

<div class="col-md-9 col-sm-9">
  <div class="row">
    <%= render partial: "users/tabnav", locals: {user: @user} %>
    <div class="ad_excerpt">
      <h4><%= t('nlt.username') %>: <%= @user.username %></h4>
      <h4><%= t('nlt.member_since') %>: <%= l @user.created_at, format: :long %></h4>

      <%= render 'actions', user: @user %>
      <%= render 'friends', user: @user %>
    </div>
  </div>
</div>
