<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, t('devise.passwords.edit.new_password') %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation,
                t('devise.passwords.edit.confirm_new_password') %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit t('devise.passwords.action') %>
  </div>

  <div class="form-group">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
