<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <p><%= t('devise.passwords.instructions') %></p>

  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit t('devise.passwords.send') %>
  </div>

  <div class="form-group">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
