<% content_for(:meta_title, t('nlt.forgot_your_password')) %>

<div id="default_header_section">
  <h1><%= t('nlt.forgot_your_password') %></h1>
</div>

<div class="col-md-8">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <fieldset>
      <p><%= t('devise.passwords.instructions') %>
      </p>
      <%= devise_error_messages! %>
      <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %>
      </div>
      <div><%= f.submit t('devise.passwords.send') %></div>
    </fieldset>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
