<h1>
  <%= I18n.t("mailboxer.message_mailer.you_have_new_message") %>
</h1>

<b><%= I18n.t("mailboxer.message_mailer.message.subject") %></b>
<blockquote>
  <p>
  <%= @message.subject %>
  </p>
</blockquote>

<b><%= I18n.t("mailboxer.message_mailer.message.body") %></b>
<blockquote>
  <p>
  <%= @message.body %>
  </p>
</blockquote>

<p>
  <%= link_to t("mailboxer.message_mailer.visit"),
              mailboxer_conversation_url(id: @message.conversation.id) %>
</p>
