<%= render layout: 'static_page', locals: { title: t('nlt.faq.title') } do %>
  <div class="list-group">
    <%= faqentry(t('nlt.faq.question_1'), t('nlt.faq.answer_1_html')) %>
    <%= faqentry(t('nlt.faq.question_2'), t('nlt.faq.answer_2_html')) %>
    <%= faqentry(t('nlt.faq.question_3'), t('nlt.faq.answer_3_html')) %>
    <%= faqentry(t('nlt.faq.question_4'), t('nlt.faq.answer_4_html')) %>
    <%= faqentry(t('nlt.faq.question_5'), t('nlt.faq.answer_5_html')) %>
    <%= faqentry(t('nlt.faq.question_6'), t('nlt.faq.answer_6_html')) %>
    <%= faqentry(t('nlt.faq.question_7'), t('nlt.faq.answer_7_html')) %>
    <%= faqentry(t('nlt.faq.question_8'), t('nlt.faq.answer_8_html')) %>
    <%= faqentry(t('nlt.faq.question_9'), t('nlt.faq.answer_9_html')) %>
  </div>
<% end %>
