<%= content_for :meta_title, t('nlt.faq.title') %>

<div id="location_header_section">
  <h1><%= t('nlt.faq.title') %></h1><br>
  <b><a href="/"> « <%= t('nlt.back') %></a></b>
</div>

<div class="col-md-9 col-sm-9">
  <strong>* <%= t('nlt.faq.question_1') %></strong><br>
  <%= t('nlt.faq.answer_1_html') %>
  <br><br>
  <strong>* <%= t('nlt.faq.question_2') %></strong><br>
  <%= t('nlt.faq.answer_2_html') %>
  <br><br>
  <strong>* <%= t('nlt.faq.question_3') %></strong><br>
  <%= t('nlt.faq.answer_3_html') %>
  <br><br>
  <strong>* <%= t('nlt.faq.question_4') %></strong><br>
  <%= t('nlt.faq.answer_4_html') %>
  <br><br>
  <strong>* <%= t('nlt.faq.question_5') %></strong><br>
  <%= t('nlt.faq.answer_5_html') %>
  <br><br>
  <strong>* <%= t('nlt.faq.question_6') %></strong><br>
  <%= t('nlt.faq.answer_6_html') %>
  <br><br>
  <strong>* <%= t('nlt.faq.question_7') %></strong><br>
  <%= t('nlt.faq.answer_7_html') %>
  <br><br>
</div> 
