<%= render layout: 'static_page', locals: { title: t('nlt.rule.title') } do %>
  <div class='list-group'>
    <div class='list-group-item' id='rule1'>
      1. <%= t('nlt.rule.entry_1') %>
    </div>

    <div class='list-group-item' id='rule2'>
      2. <%= t('nlt.rule.entry_2') %>
    </div>

    <div class='list-group-item' id='rule3'>
      3. <%= t('nlt.rule.entry_3') %>
    </div>

    <div class='list-group-item' id='rule4'>
      4. <%= t('nlt.rule.entry_4') %>
    </div>

    <div class='list-group-item' id='rule5'>
      5. <%= t('nlt.rule.entry_5') %>
    </div>

    <div class='list-group-item' id='rule6'>
      6. <%= t('nlt.rule.entry_6') %>
    </div>

    <div class='list-group-item' id='rule7'>
      7. <%= t('nlt.rule.entry_7') %>
    </div>

    <div class='list-group-item' id='rule8'>
      8. <%= t('nlt.rule.entry_8') %>
    </div>

    <div class='list-group-item' id='rule9'>
      9. <%= t('nlt.rule.entry_9') %>
    </div>

    <div class='list-group-item' id='rule10'>
      10. <%= t('nlt.rule.entry_10') %>
    </div>
  </div>
<% end %>
