    <div class="filter_status">        
      <% if all %>
        <%= link_to "todos", listall_give_path, :class => status == "all" ? "actual" : "''" %>
        <%= link_to "disponible", listall_give_available_path, :class => status == "available" ? "actual" : "''" %>
        <%= link_to "reservado", listall_give_booked_path, :class => status == "booked" ? "actual" : "''" %>
        <%= link_to "entregado", listall_give_delivered_path, :class => status == "delivered" ? "actual" : "''" %>
      <% else %>
        <%= link_to "disponible", woeid_path(id), :class => status == "available" ? "actual" : "''" %>
        <%= link_to "reservado", woeid_booked_path(id), :class => status == "booked" ? "actual" : "''" %>
        <%= link_to "entregado", woeid_delivered_path(id), :class => status == "delivered" ? "actual" : "''" %>
      <% end %>
    </div>
