    <div class="filter_status">        
      <a class=<%= status == "available" ? "actual" : "''" %> href="/es/woeid/<%= id %>/give">disponible</a>&nbsp;&nbsp;
      <a class=<%= status == "booked" ? "actual" : "''" %> href="/es/woeid/<%= id %>/give/status/booked">reservado</a>&nbsp;&nbsp;
      <a class=<%= status == "delivered" ? "actual" : "''" %> href="/es/woeid/<%= id %>/give/status/delivered">entregado</a>&nbsp;&nbsp;   
    </div>
