<% content_for(:title, @woeid) %>
<% content_for(:meta_title, t('nlt.keywords') + @woeid.to_s) %>

<% content_for :meta_description do %>
  <meta name="description" content="<%= t('nlt.gift_on', woeid: @woeid) %>. <%= t('nlt.meta_description') %>" />
<% end %>

<% unless @search or @all %>
  <% content_for :meta_extra do %>
    <link rel=”alternate” type=”application/rss+xml” title=”nolotiro.org - <%= @woeid[:full] %>” href=”<%= rss_type_url(woeid: @id, type: @type, status: @status) %>” />
  <% end %>
<% end %>

<% content_for :action do %>
  <% type_n = @type == "want" ? 2 : 1 %>
  <% if @woeid%>
    <div class="ad_create_tab">
      <%= link_to "+ #{t('nlt.publish_ad_on', woeid: @woeid[:short])}", new_ad_path(type: type_n) %>
    </div>
  <% else %>
    <div class="ad_create_tab">
      <%= link_to "+ #{t('nlt.to_publish_ad')}", new_ad_path(type: type_n) %>
    </div>
  <% end %>
<% end %>

<div id="location_header_section">
  <% if @all %>
    <span class="give-want">
      <%= link_to t('nlt.give'), ads_listall_path(type: 'give'),
        :class => @type == "give" ? "actual" : "''" %>
      &nbsp;
      <%= link_to t('nlt.want'), ads_listall_path(type: 'want'), :class => @type == "want" ? "actual" : "''" %>
    </span>
  <div class="location_name">
    <h1><%= t('nlt.all_ads') %></h1>
    <br>
  </div>
  <% else %>
    <span class="give-want">
      <%= link_to t('nlt.give'), ads_woeid_path(id: @id, type: 'give'), :class => @type == "give" ? "actual" : "''" %>
      &nbsp;
      <%= link_to t('nlt.want'), ads_woeid_path(id: @id, type: 'want'), :class => @type == "want" ? "actual" : "''" %>
    </span>
    <div class="location_name">
      <h1>
        <% if @search %>
          <%= t('nlt.searching_on_html', q: @q) %>
        <% end %>
        <% if @type == "give" %>
          <%= t('nlt.give') %>
        <% else %>
          <%= t('nlt.want') %>
        <% end %>
        - <%= @woeid[:full] %>
      </h1>
      <br>
      <%= render :partial => "ads/search", :locals => {:woeid => @id, :ad_type => @type, :q => @q} %>
      <%= link_to location_ask_path, :class => "world_link" do %>
        <%= image_tag "change_location.png", :alt => "change location" %>
        <%= t('nlt.change_city') %>
      <% end %>
    </div>
  <% end %>
  </div>

  <div id="main">
    <div class="span-17">
      <% if @type == "give" %>
        <%= render :partial => "woeid/filter_status", :locals => {:status => @status, :id => @id, :all => @all} %>
      <% end %>

    <% if @ads.any? %>
      <% @ads.each_with_index do |ad,i| %>
        <%= render :partial => "ads/ad", :locals => { :ad => ad, :i => i } %>
      <% end %>
      <%= render partial: "partials/pagination", locals: { items: @ads } %>
    <% else %>
      <% if defined? @no_results_search %>
        <%= render :partial => "ads/no_results_search", :locals => { :location_suggest => @location_suggest, :location_options => @location_options } %>
      <% else %>
        <%= render :partial => "ads/no_results", :locals => { :location_suggest => @location_suggest, :location_options => @location_options, :woeid => @id } %>
      <% end %>
    <% end %>
      <% if @woeid %>
        <div class="rss">
          <%= link_to rss_type_path(:woeid => @id, :type => "give") do %>
            <%= image_tag "icons/rss.png", :alt => t("nlt.rss_suscribe") %>
            &nbsp; <%= t('nlt.rss_suscribe') %> - <%= @woeid[:full] %>
          <% end %>
        </div>
      <% end %>
    </div><!-- /span-17 -->
    <div class="span-6 desktop">
      <%= render :partial => "partials/google_adsense", :locals => {:class_name => "vertical_ad"}  %>
      <%= render :partial => "partials/google_adsense", :locals => {:class_name => "vertical_ad"}  %>
    </div><!-- /span-6 -->
  </div>
