
<div id="location_header_section">

  <span class="give-want">
    <% if @all %>
      <%= link_to "regalo", listall_give_path, :class => @type == "give" ? "actual" : "''" %>
    <% else %>
      <%= link_to "regalo", woeid_path(@id), :class => @type == "give" ? "actual" : "''" %>
    <% end %>
    &nbsp;
    <% if @all %>
      <%= link_to "busco", listall_want_path, :class => @type == "want" ? "actual" : "''" %>
    <% else %>
      <%= link_to "busco", woeid_want_path(@id), :class => @type == "want" ? "actual" : "''" %>
    <% end %>
  </span>

  <div class="location_name">
    <h1>regalo - <%= @woeid %></h1><br>

    <%= render :partial => "ads/search", :locals => {:woeid => @woeid, :ad_type => @type} %>

    <%= link_to location_ask_path, :class => "world_link" do %>
      <%= image_tag "change_location.png", :alt => "change location" %> 
      cambiar ciudad
    <% end %>
  </div>

</div>

<div id="main">
  <div class="span-18">
    
    <% if @type == "give" %>
      <%= render :partial => "filter_status", :locals => {:status => @status, :id => @id, :all => @all} %>
    <% end %>

    <% if @ads.any? %>
      <% @ads.each do |ad| %>
          <%= render :partial => "ads/ad", :locals => { :ad => ad } %>
      <% end %>
      <%= will_paginate @ads %>
    <% else %>
      <% if defined? @no_results_search %>
        <%= render :partial => "ads/no_results_search", :locals => { :location_suggest => @location_suggest, :location_options => @location_options } %>
      <% else %>
        <%= render :partial => "ads/no_results", :locals => { :location_suggest => @location_suggest, :location_options => @location_options } %>
      <% end %>
    <% end %>

    <div class="rss">
      <a href="http://nolotiro.org/es
               /rss/feed/woeid/766273
               /ad_type/give">
        <img alt="Suscribirse via rss a" src="/images/icons/rss.png">&nbsp;Suscribirse via rss a Madrid, Madrid, España - regalo</a>
    </div>

  </div> <!-- /div ads -->
</div>
