<% if @woeid.nil? %>
  <% content_for(:title, t('nlt.all_ads')) %>
  <% content_for(:meta_title, t('nlt.all_ads')) %>
<% else %>
  <% content_for(:title, @woeid[:full]) %>
  <% content_for(:meta_title, t('nlt.keywords') + @woeid[:full]) %>
  <% content_for(:meta_description, t('nlt.gift_on', woeid: @woeid[:full])) %>
<% end %>

<% unless @search or @woeid.nil? %>
  <% content_for :meta_extra do %>
    <link rel="alternate" type="application/rss+xml" title="nolotiro.org - <%= @woeid[:full] %>" href="<%= rss_type_url(woeid: @id, type: @type, status: @status) %>" />
  <% end %>
<% end %>

<% content_for :action do %>
  <% type_n = @type == "want" ? 2 : 1 %>
  <div class="ad_create_tab">
    <% if @woeid%>
      <%= link_to "+ #{t('nlt.publish_ad_on', woeid: @woeid[:short])}", new_ad_path(type: type_n) %>
    <% else %>
      <%= link_to "+ #{t('nlt.to_publish_ad')}", new_ad_path(type: type_n) %>
    <% end %>
  </div>
<% end %>

<div id="location_header_section">
  <span class="give-want">
    <%= link_to t('nlt.give'), url_for(type: 'give'), :class => @type == "give" ? "actual" : "''" %>
    &nbsp;
    <%= link_to t('nlt.want'), url_for(type: 'want'), :class => @type == "want" ? "actual" : "''" %>
  </span>

  <div class="location_name">
    <h1>
      <% if @woeid.nil? %>
        <%= t('nlt.all_ads') %>
      <% else %>
        <%= t('nlt.searching_on_html', q: @q) if @search %>

        <%= @type == "give" ? t('nlt.give') : t('nlt.want') %>
        - <%= @woeid[:full] %>
      <% end %>
    </h1>

    <% if @woeid %>
      <br>
      <%= render :partial => "ads/search", :locals => {:woeid => @id, :ad_type => @type, :q => @q} %>
      <%= link_to location_ask_path, :class => "world_link" do %>
        <%= image_tag "change_location.png", :alt => "change location" %>
        <%= t('nlt.change_city') %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="col-md-12 mobile">
  <div class="google_ad_wrapper">
    <%= render partial: "partials/google_adsense", locals: { class_name: "google_adsense_336_280", ad_slot: "7225596067"}  %>
  </div>
</div>

<div class="col-md-9 col-sm-9">
  <div class="row">
    <% if @type == "give" %>
      <%= render "woeid/filter_status" %>
    <% end %>

    <% if @ads.any? %>
      <%= render partial: 'ads/list_with_adsense', locals: { ads: @ads } %>

      <%= render partial: "partials/pagination", locals: { items: @ads } %>
    <% else %>
      <% if defined? @no_results_search %>
        <%= render :partial => "ads/no_results_search", :locals => { :location_options => @location_options } %>
      <% else %>
        <%= render :partial => "ads/no_results", :locals => { :location_options => @location_options } %>
      <% end %>
    <% end %>

    <% if @woeid %>
      <div class="rss">
        <%= link_to rss_type_path(:woeid => @id, :type => "give") do %>
          <%= image_tag "icons/rss.png", :alt => t("nlt.rss_suscribe") %>
          &nbsp; <%= t('nlt.rss_suscribe') %> - <%= @woeid[:full] %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="col-md-3 col-sm-3">
  <div class="google_ad_wrapper">
    <%= render partial: "partials/google_adsense", locals: { class_name: "desktop google_adsense_600_160", ad_slot: "6783776462"}  %>
    <%= render partial: "partials/google_adsense", locals: { class_name: "mobile google_adsense_336_280", ad_slot: "7225596067"}  %>
  </div>
</div>
