<% if current_woeid.nil? %>
  <% content_for(:meta_title, t('nlt.home_title')) %>
<% else %>
  <% content_for(:meta_title, t('nlt.keywords') + @woeid_info[:full]) %>
  <% content_for(:meta_description,
                 t('nlt.gift_on', woeid: @woeid_info[:full])) %>
<% end %>

<% if current_woeid && @status == 'available' %>
  <% content_for :meta_extra do %>
    <link rel="alternate"
          type="application/rss+xml"
          title="nolotiro.org - <%= @woeid_info[:full] %>"
          href="<%= rss_type_url(woeid: current_woeid, type: @type) %>" />
  <% end %>
<% end %>

<% content_for :action do %>
  <div class="ad_change_location_home">
    <% if current_woeid %>
      <%= link_to t('nlt.change_city'), location_ask_path %>
    <% elsif location_suggest %>
      <% title = t('nlt.view_ads_on', location: location_suggest.city) %>
      <%= link_to_change_location location_suggest.fullname, title %>
    <% else %>
      <%= link_to t('nlt.view_ads_on_your_city'), location_ask_path %>
    <% end %>
  </div>

  <div class="ad_create_tab">
    <% if current_woeid %>
      <%= link_to "+ #{t('nlt.publish_ad_on', woeid: @woeid_info[:short])}",
                  new_ad_path %>
    <% else %>
      <%= link_to "+ #{t('nlt.publish_ad')}", new_ad_path %>
    <% end %>
  </div>
<% end %>

<div class="col-md-9 col-sm-9 col-xs-12">
  <ul class="nav give-want-tabs">
    <li role="presentation" class="<%= 'active' if @type == "give" %>">
      <%= link_to t('nlt.gifts'), ad_listing_path('give') %>
    </li>

    <li role="presentation" class="<%= 'active' if @type == "want" %>">
      <%= link_to t('nlt.requests'), ad_listing_path('want') %>
    </li>
  </ul>

  <div class="location_header_section">
    <div class="location_name">
      <h1>
        <% if current_woeid.nil? %>
          <%= t('nlt.all_ads') %>
        <% else %>
          <%= t('nlt.searching_on_html', q: @q) if @q %>

          <%= @woeid_info[:full] %>
        <% end %>
      </h1>

      <br>
      <%= render "ads/search", q: @q %>

      <%= link_to location_ask_path, class: "world_link" do %>
        <%= image_tag "change_location.png", alt: "change location" %>
        <%= t('nlt.change_city') %>
      <% end %>
    </div>
  </div>

  <% if @type == "give" %>
    <%= render "filter_status" %>
  <% end %>

  <% if @ads.any? %>
    <%= render 'ads/list_with_adsense', ads: @ads %>

    <%= will_paginate @ads, params: params.merge(id: current_woeid),
                            inner_window: 2,
                            outer_window: -1 %>
  <% elsif @q %>
    <%
      # @todo In the future we might want to enhance this page with interesting
      # content for the user, such as related searches or hits in locations a
      # little bit further away. But for now this is a dummy page where google
      # is giving soft 404 errors. So just remove indexing for now
    %>
    <% content_for :meta_robots do %>
      <meta name="robots" content="noindex,nofollow">
    <% end %>

    <%= render "ads/no_results_search" %>
  <% else %>
    <%= render "ads/no_results" %>
  <% end %>

  <% if current_woeid && @status == 'available' %>
    <div class="rss">
      <%= link_to rss_type_path(woeid: current_woeid, type: "give") do %>
        <%= image_tag "icons/rss.png", alt: t("nlt.rss_suscribe") %>
        &nbsp; <%= t('nlt.rss_suscribe') %> - <%= @woeid_info[:full] %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col-md-3 col-sm-3 col-xs-12">
  <%= render 'partials/rankings_sidebar' %>
</div>
