<% content_for(:title, @woeid) %>

<div id="location_header_section">
  <% if @all %>
    <span class="give-want">
      <%= link_to "regalo", ads_listall_path(type: 'give'), 
        :class => @type == "give" ? "actual" : "''" %>
      &nbsp;
      <%= link_to "busco", ads_listall_path(type: 'want'), :class => @type == "want" ? "actual" : "''" %>
    </span>
  <div class="location_name">
    <h1>Todos los anuncios</h1>
    <br>
  </div>
  <% else %>
    <span class="give-want">
      <%= link_to "regalo", ads_woeid_path(id: @id, type: 'give'), :class => @type == "give" ? "actual" : "''" %>
      &nbsp;
      <%= link_to "busco", ads_woeid_path(id: @id, type: 'want'), :class => @type == "want" ? "actual" : "''" %>
    </span>
    <div class="location_name">
      <h1>regalo - <%= @woeid %></h1><br>
      <%= render :partial => "ads/search", :locals => {:woeid => @woeid, :ad_type => @type} %>
      <%= link_to location_ask_path, :class => "world_link" do %>
        <%= image_tag "change_location.png", :alt => "change location" %> 
        cambiar ciudad
      <% end %>
    </div>
  <% end %>

</div>

<div id="main">
  <div class="span-18">
    <% if @type == "give" %>
      <%= render :partial => "filter_status", :locals => {:status => @status, :id => @id, :all => @all} %>
    <% end %>
    <% if @ads.any? %>
      <% @ads.each do |ad| %>
        <%= render :partial => "ads/ad", :locals => { :ad => ad } %>
      <% end %>
      <%= will_paginate @ads, :page_links => false %>
    <% else %>
      <% if defined? @no_results_search %>
        <%= render :partial => "ads/no_results_search", :locals => { :location_suggest => @location_suggest, :location_options => @location_options } %>
      <% else %>
        <%= render :partial => "ads/no_results", :locals => { :location_suggest => @location_suggest, :location_options => @location_options, :woeid => @id } %>
      <% end %>
    <% end %>
    <% if @woeid %>
      <div class="rss">
        <%= link_to rss_type_path(:woeid => @id, :type => "give") do %>
          <%= image_tag "icons/rss.png", :alt => t("nlt.rss_suscribe") %>
          &nbsp; <%= t('nlt.rss_suscribe') %> - <%= @woeid %>
        <% end %>
      </div>
    <% end %>
  </div> 
</div>

<div class="google_ads">
  <%= image_tag "http://placehold.it/160x600" %>
</div>

<% content_for :action do %>
  <% if @woeid %>
    <div class="ad_create_tab">
      <a href="/es/ad/create">+ Publicar anuncio en <%= @woeid %></a>
    </div>
  <% end %>
<% end %>
