<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
    <div class="col-md-6 col-sm-6">
      <dt>
        <label for="email" class="required">
          <%= f.label t 'nlt.your_email' %>
        </label>
      </dt>

      <dd>
        <%= f.email_field :email, :autofocus => true %>
      </dd>

      <dt>
      <label for="password" class="required">
        <%= f.label t 'nlt.password' %>
      </label>
      </dt>

      <dd>
      <%= f.password_field :password %>
      </dd>

      <dd id="rememberme-element">
        <%= f.check_box :remember_me %> 
        <%= f.label t 'nlt.remember_me' %>
      </dd>

      <div><%= f.submit t('nlt.sign_in') %></div>

      <%= render "devise/shared/links" %>
    </div>

    <div class="col-md-6 col-sm-6">
      <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-info login-with-facebook" do %>
        <%= t('nlt.sign_in_with_provider', :provider => 'Facebook') %>
        <i class="fa fa-facebook-square"></i>
      <% end %>
      <br />

      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-info login-with-google" do %>
        <%= t('nlt.sign_in_with_provider', :provider => 'Google') %>
        <i class="fa fa-google-plus-square"></i>
      <% end %>
    </div>
  </fieldset>
<% end %>
