<%= render :partial => "partials/you_have_to_sign_in" %>
<% content_for(:meta_title, t('nlt.sign_in')) %>

<div class="span-16">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>
      <div class="col-md-6">
        <dt id="email-label">
        <label for="email" class="required">
          <%= f.label t 'nlt.your_email' %>
        </label>
        </dt>

        <dd id="email-element">
          <%= f.email_field :email, :autofocus => true %>
        </dd>

        <dt id="password-label">
        <label for="password" class="required">
          <%= f.label t 'nlt.password' %>
        </label>
        </dt>

        <dd id="password-element">
        <%= f.password_field :password %>
        </dd>

        <% if devise_mapping.rememberable? -%>
          <dd id="rememberme-element">
          <%= f.check_box :remember_me %> 
          <%= f.label t 'nlt.remember_me' %>
          </dd>

        <% end -%>

        <div><%= f.submit t('nlt.sign_in') %></div>

        <%= render "devise/shared/links" %>
      </div>

      <div class="col-md-6">
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <% prov = convert_provider( provider ) %>
            <%= link_to user_omniauth_authorize_path(provider: provider), class: "btn btn-info login-with-#{prov.downcase}" do %>
              <%= t('nlt.sign_in_with_provider', :provider => prov) %>
              <i class="fa <%= convert_provider_fa(provider) %>"></i>
            <% end %>
              <br />
          <% end -%>
        <% end -%>
      </div>

    </fieldset>

  <% end %>

</div>
