<%= render :partial => "partials/you_have_to_sign_in" %>
<% content_for(:meta_title, t('nlt.to_publish_or_send_messages')) %>

<div class="span-16">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>
      <legend>
        <% t :please_insert_email_and_password %>
      </legend>

      <dt id="email-label">
      <label for="email" class="required">
        <%= f.label t 'nlt.your_email' %>
      </label>
      </dt>

      <dd id="email-element">
        <%= f.email_field :email, :autofocus => true %>
      </dd>

      <dt id="password-label">
      <label for="password" class="required">
        <%= f.label t 'nlt.password' %>
      </label>
      </dt>

      <dd id="password-element">
      <%= f.password_field :password %>
      </dd>

      <% if devise_mapping.rememberable? -%>
        <dd id="rememberme-element">
        <%= f.check_box :remember_me %> 
        <%= f.label t 'nlt.remember_me' %>
        </dd>

      <% end -%>

      <div><%= f.submit t('nlt.sign_in') %></div>

      <%= render "devise/shared/links" %>

    </fieldset>
  <% end %>

</div>
