<% content_for :title, t('nlt.sign_in') %>

<div class="default_header_section">
  <h1><%= t('nlt.to_publish_or_send_messages') %></h1>
  <br><br>
  (<%= t 'nlt.if_you_are_new' %>
  <%= link_to t('nlt.register_here'), new_user_registration_path %>)
</div>

<div class="default_content_section">
  <div class="login-card">
    <div class="registration-form-wrapper">
      <%= render "form" %>
    </div>

    <div class="omniauth-wrapper">
      <%= render "devise/shared/omniauth_links" %>
    </div>
  </div>
</div>
