<%= form_tag action: "list" do %>
  <div class="form-group">
    <label for="location" class="required">
      <%= t('nlt.change_town.town') %>
    </label>
    <%= text_field_tag :location, '', { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= submit_tag t('nlt.change_town.submit') %>
  </div>

  <% if location_suggest %>
    <% link = link_to_change_location location_suggest.fullname %>

    <%= t('nlt.change_town.close_to_html', city: content_tag(:b, link)) %>
  <% end %>
<% end %>
