<%= form_tag({action: "list"}) do %>
  <fieldset>
    <legend>
      <%= t('nlt.change_town.please') %>
    </legend>
    <dl class="zend_form">
      <dt id="location-label">
      <label for="location" class="required">
        <%= t('nlt.change_town.town') %>
      </label>
      </dt>
      <dd id="location-element">
      <%= text_field_tag(:location) %>
      </dd>
      <dt id="submit-label">&nbsp;</dt>
      <dd id="submit-element">
      <%= submit_tag(t('nlt.change_town.submit')) %>
      </dd>
    </dl>
        <%= t('nlt.change_town.close_to') %>
    <br>
    <b>
      <%= link_to location_suggest, location_change_path(location: location_suggest) %>
    </b>
  </fieldset>
<% end %>
