<%= content_for(:meta_title, t('nlt.change_town.choose')) %>

<div id="default_header_section">
  <h1><%= t('nlt.change_town.choose') %></h1>
</div>

<div class="col-md-8 col-sm-8">
  <div class="row">
    <% if @locations.nil? %>
      <p class="error"><%= t('nlt.change_town.choose_html', location: params[:location]) %></p>
      <%= render :partial =>"ask_form" %>
    <% else %>
      <%= render "list_form",
                 locations: @locations.map { |l| [l.label, l.woeid] } %>
    <% end %>
  </div>
</div>

<div class="col-md-4 col-sm-4">
  <%= render partial: "partials/google_adsense", locals: { class_name: "google_adsense_336_280", ad_slot: "7225596067"}  %>
</div>
