<%= content_for(:meta_title, t('nlt.change_town.choose')) %>

<div id="default_header_section">
  <h1><%= t('nlt.change_town.choose') %></h1>
</div>

<div id="main">
  <div class="col-md-8">
    <% if @location_asked.nil? %>
      <p class="error"><%= t('nlt.change_town.choose_html', location: params[:location]) %></p>
      <%= render :partial =>"ask_form", :locals => {location_suggest: @location_suggest} %>
    <% else %>
      <%= form_tag({action: "change"}) do %>
        <fieldset><legend></legend>
          <dl class="zend_form">
            <dt id="location-label">&nbsp;</dt>
            <dd id="location-element">
            <%= select_tag(:location, options_for_select(@location_asked)) %>
            </dd>
            <dt id="submit-label">&nbsp;</dt>
            <dd id="submit-element">
            <%= submit_tag(t('nlt.change_town.choose')) %>
            </dd>
          </dl>
        </fieldset>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render partial: "partials/google_adsense", :locals => {:class_name => "rectangular_ad"}  %>
  </div>
</div>
