<h1><%= I18n.t("mailboxer.notification_mailer.you_have_new_reply") %>: <%= @subject %></h1>
<p>
  <%= I18n.t("mailboxer.notification_mailer.you_have_recieved_new_reply") %>
</p>
<blockquote>
  <p>
    <%= raw @message.body %>
  </p>
</blockquote>
<p>
  <%= raw I18n.t("mailboxer.message_mailer.visit_html", url: link_to(root_url, root_url)) %>
</p>
