<%= form_for contact do |f| %>
  <%= errors_for(contact) %>

  <% unless user_signed_in? %>
    <div class="form-group">
      <%= f.label :email, class: 'required' %>
      <%= f.text_field :email,
                       type: :email,
                       required: 'required',
                       class: 'form-control' %>
    </div>
  <% end %>

  <div class="from-group">
    <%= f.label :message, class: 'required' %><br />
    <%= f.text_area :message, size: '24x10', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= recaptcha %>
  </div>

  <div class="form-group">
    <%= f.submit t('nlt.send') %>
  </div>
<% end %>
