<% content_for :meta_title, t('nlt.contact_form') %>

<div id="default_header_section">
  <h2><%= t('nlt.contact_form') %></h2>
</div>

<div id="main">
  <div class="span-16">
    <%= form_for @contact do |f| %>
      <fieldset>
        <legend><%= t('nlt.contact_legend') %></legend>

        <% if @contact.errors.any? %>
          <div class="error_messages">
            <h2><%= t('nlt.save_failed') %></h2>
            <ul>
              <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <dl>
          <% unless user_signed_in? %>
            <dt>
              <%= f.label :email, :class => "required" %>
            </dt>
            <dd>
              <%= f.text_field :email, :type => :email, :required => "required" %>
            </dd>
          <% end %>
          <dt>
            <%= f.label :message, :class => "required" %><br />
          </dt>
          <dd>
            <%= f.text_area :message, :size => "24x10" %>
          </dd>
          <dt>
          <label for="captcha-input" class="required">
            <%= t('nlt.please_introduce') %>
          </label>
          </dt>
          <dd>
            <%= recaptcha_tags(:display => { :theme => "white" }, ajax: true)%>
          </dd>
          <dt>&nbsp;</dt>
          <dd>
            <%= f.submit t('nlt.send') %>
          </dd>
        </dl>    
      </fieldset>
    <% end %>
  </div>

</div>
