<%= content_for :meta_title, @thread.subject %>
<div id="default_header_section">
  <h5><%= link_to "< volver a mensajes", messages_list_path %></h5>
  <h1><%= @thread.subject %></h1>
  <% unless @thread.conversation_id.zero? %>
    <%# link_to "Ver conversación migrada", mailboxer_message_path(@thread.conversation_id) %> 
  <% end %>
</div>

<div id="main">
  <div class="span-15">
    <% @thread.messages.each do |message| %>
      <%= render :partial => "message", :locals => {:message => message} %>
    <% end %>
    <div class="message-excerpt">
      <div class="message-from-left">
        <%= link_to profile_path(current_user) do %>
          <%= image_tag "contact.png" %>
          <%= current_user.username %>
        <% end %>
      </div>
      <div class="message-container-right">
        <div class="triangle-me">
        </div>
        <div class="bubble-reply bg-bubble-me">
          <%= render :partial => "form", :locals => {:thread => @thread, :user => current_user} %>
          </div>
      </div>
    </div>
  </div>

  <%= render partial: "partials/google_adsense", locals:
    {id: "messages-show", ad_slot: "2213976068", ad_width: 300, ad_height: 250}
  %>
</div>


