<%= render 'actions',
           user: user,
           blocking: current_user ? current_user.blocking?(user) : nil %>

<h1><%= content_for :title %></h1>

<h4>
  <%= t('nlt.username') %>: <%= user.username %>
</h4>

<h4>
  <%= t('nlt.member_since') %>: <%= l user.created_at, format: :long %>
</h4>
