<div class="main-row">
  <div class="col-md-10 col-sm-10">
    <div class="default_header_section">
      <%= render 'profile_header', user: user %>
    </div>

    <div class="unpadded_content_section">
      <%= yield %>
    </div>
  </div>

  <div class="col-md-2 col-sm-2">
    <%= render 'friends', user: user %>

    <div class="google_ad_wrapper">
      <%= render "partials/raw_google_adsense", class_name: "desktop google_adsense_600_160", ad_slot: "6783776462" %>
      <%= render "partials/google_adsense", class_name: "mobile google_adsense_300_250", ad_slot: "8702329269" %>
    </div>
  </div>
</div>
