<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:meta_title) %> - nolotiro.org</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application", media: "all" %>

    <script src="//www.google.com/jsapi"></script>
    <%= airbrake_javascript_notifier %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>

    <% if content_for?(:meta_description) %>
      <%= yield(:meta_description) %>
    <% else%>
      <meta name="description" content="<%= t('nlt.meta_description') %>" />
    <% end %>

    <% if content_for?(:meta_extra) %>
      <%= yield(:meta_extra) %>
    <% end %>

    <meta name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no' />

    <% Rails.application.secrets["langs"].split(' ').each do |l|  %>
      <link rel="alternate" hreflang="<%= l %>" href="<%= url_for(locale: l) %>" />
    <% end %>

    <!--

           Esta web está hecha por la asociación aLabs (http://alabs.es).
           Puedes ver el código en https://github.com/alabs/nolotiro.org/

                       @@@@              @@@@                 @+`
                       @@@@              @@@@               @@@@@`
               `..`    @@@@      ,;;,    @@@@ ,;,    `:;:`   ,@@`
             `::::::.  @@@@    .@@@@@@:  @@@@@@@@@  @@@@@@@  @#@@
             ::::::::  @@@@    @@@@@@@@  @@@@@@@@@`:@@@@@@@#
            .:::`,:::. @@@@   :@@@.;@@@; @@@@ @@@@.@@@@ @@@@
            ,::: ,:::: @@@@   '@@@.,@@@+ @@@@ @@@@.@@@@ @@@@
            :::: ::::; @@@@   '@@@.'@@@# @@@@ @@@@.+@@@@
               .:::::; @@@@      :@@@@@# @@@@ @@@@. @@@@@#
             ,:::::::; @@@@    +@@@@@@@# @@@@ @@@@. .@@@@@@`
            `:::;,:::; @@@@   .@@@@,@@@# @@@@ @@@@.   #@@@@@
            ,:::`,:::; @@@@   '@@@,,@@@# @@@@ @@@@.#@@@ @@@@
            :::: ,:::; @@@@   '@@@.,@@@# @@@@ @@@@.+@@@ #@@@
            ,::: ::::; @@@@@@@'@@@.;@@@# @@@@ @@@@`:@@@ @@@@
            .::::::::; @@@@@@@.@@@@@@@@# @@@@@@@@@  @@@@@@@@
             ::::::::; @@@@@@@ @@@@'@@@# @@@@#@@@+  .@@@@@@`
              .:                `:`            :`     `::`

    -->

  </head>
  <body>
    <div class="container">

      <div id="header">

        <% cache("select_language_box_#{I18n.locale}") do %>
          <%= render :partial => "partials/select_language_box" %>
        <% end %>

        <%= render :partial => "partials/user_actions" %>

        <div class="site-name">
          <%= link_to root_path, :title => "nolotiro.org home", "data-no-turbolink" => true do %>
            <%= image_tag "nolotiro_logo.png", :alt => "nolotiro.org", :id => "logo" %>
            nolotiro.org
            <%=h yield(:title) %>
          <% end %>
        </div>

        <div class="site-slogan">
          <%= t('nlt.slogan') %>
        </div>

        <% if content_for?(:action) %>
          <%= yield(:action) %>
        <% end %>

      </div>

      <% unless I18n.locale == :es %>
        <div id="advice_langtest" class="advice">
          This language translation is in testing phase. If you find a missing or wrong translation, <%= link_to "please report it", "http://accounts.localeapp.com/projects/6872/translations?in_locale=#{ i18n_to_localeapp_in_locale(I18n.locale) }" %>.
        </div>
      <% end %>

      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <p class="<%= name %>">
          <%= msg %>
          </p>
        <% end %>
      <% end %>

      <div class="info js-alert-cookie hide first-visit" data-cookie-name="alert-first-visit">
        <%= t('nlt.first_visit') %>
        <a href="#" class="js-alert-close alert-close">x</a>
      </div>
      <div class="info js-alert-cookie hide" data-cookie-name="alert-cookies">
        <%= t('nlt.cookie') %>
        <a href="#" class="js-alert-close alert-close">x</a>
      </div>
      <div class="notice js-alert-cookie hide" data-cookie-name="alert-updating">
        <%= t('nlt.updating') %>
        <a href="#" class="js-alert-close alert-close">x</a>
      </div>
      <div class="hide js-welcome-message"><%= t('nlt.welcome_message') %></div>

      <%= yield %>

      <% cache do %>
        <%= render :partial => "partials/footer", :locals => { :url => "http://nolotiro.org" } %>
    <% end %>

    </div>

    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-141609-25', 'nolotiro.org');
ga('send', 'pageview');
    </script>

    </body>
    </html>
