<!DOCTYPE html>
<html>
  <head>
    <!-- TODO: dynamic titles -->
    <title>nolotiro.org</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">

      <!-- TODO show when there is an alert -->
      <p class="notice hide"><%= notice %></p>
      <p class="alert hide"><%= alert %></p>

      <div id="header">

        <%= render :partial => "partials/select_language_box" %>

        <%= render :partial => "partials/user_actions" %>

        <div class="site-name">
          <a href="/es" title="nolotiro.org home">
            <%= image_tag "nolotiro_logo.png", :alt => "nolotiro.org", :id => "logo" %>
            nolotiro.org -
            <!-- TODO: dynamic titles -->
          </a>
        </div>

        <div class="site-slogan">
          no lo tiro, te lo regalo (sin condiciones)
        </div>

      </div>

      <%= yield %>

      <div id="footer">

        <%= render :partial => "partials/social_buttons" %>

        <div class="links-right">
          <a href="/es/page/about">acerca de</a>
          | <a href="http://blog.alabs.es/category/nolotiro-org/">blog</a>
          | <a href="/es/page/faqs">preguntas frecuentes</a>
          | <a href="/es/ad/listall/ad_type/give">todos los anuncios</a>
          | <a href="/es/page/translate">ayuda a traducir</a>
          &nbsp;&nbsp;


          <a href="http://alabs.es/">
            <%= image_tag("alabs.png", :alt => "aLabs logo") %>
          </a>
        </div>

        <br>

        <div id="info" class="innerWrap clearfix">
          <p>
          nolotiro.org es un sitio web donde regalo y busco regalos gratis de segunda mano : muebles, sillas, sofás, bicicletas, ordenadores portátiles, mesas, cocinas, lámparas, camas, ropa, juguetes, cunas o carros para bebes, teléfonos móviles y otras muchas cosas que ya no quieres y ya no necesitas para que las reutilicen otra gente a la que puede servirle o darle nueva vida.        </p>
        </div>

        <div class="links-left">
          <a href="/es/page/tos">términos de uso</a> |
          <a href="/es/page/privacy">política de privacidad</a> |
          <a href="https://github.com/alabs/nolotiro">desarrolladores</a> |
          <a href="/es/contact">contacto</a> |
          <a href="http://nolotiro.uservoice.com/forums/30282?lang=es" target="_blank">sugerencias </a>
        </div>
      </div>
    </div>


  </body>
</html>
