<!DOCTYPE html>
<html>
  <head>
    <!-- TODO: dynamic titles -->
    <title><%=h yield(:title) %> - nolotiro.org</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= airbrake_javascript_notifier %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">

      <div id="header">

        <%= render :partial => "partials/select_language_box" %>

        <%= render :partial => "partials/user_actions" %>

        <div class="site-name">
          <%= link_to root_path, :title => "nolotiro.org home" do %>
            <%= image_tag "nolotiro_logo.png", :alt => "nolotiro.org", :id => "logo" %>
            nolotiro.org -
            <%=h yield(:title) %>
          <% end %>
        </div>

        <div class="site-slogan">
          <%= t('nlt.slogan') %>
        </div>

        <% if content_for?(:action) %>
          <%= yield(:action) %>
        <% end %>

      </div>

      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <p class="notice alert-<%= name == :notice ? "success" : "error" %>">
          <%= msg %>
          </p>
        <% end %>
      <% end %>

      <%= yield %>

      <%= render :partial => "partials/footer", :locals => { :url => "http://nolotiro.org" } %>

    </div>

  </body>
</html>
